<template>
    <v-container
        fluid
        grid-list-lg
    >
        <v-layout wrap>
            <v-flex xs12>
                <v-layout
                    wrap
                    align-center
                    justify-center
                >
                    <v-flex
                        xs12
                        sm3
                        class="align-self-stretch"
                    >
                        <v-card
                            color="primary"
                            class="stat-card"
                            dark
                        >
                            <v-card-text class="text-center">
                                <strong class="subtitle-1">Total</strong> <br>
                                <span
                                    class="headline"
                                    v-if="!fetching"
                                >
                                    {{ totals.count }}
                                </span>
                                <span v-else>
                                    <v-progress-circular
                                        indeterminate
                                    ></v-progress-circular>
                                </span>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex
                        xs12
                        sm3
                        class="align-self-stretch"
                    >
                        <v-card
                            color="warning"
                            class="stat-card"
                            dark
                        >
                            <v-card-text class="text-center">
                                <strong class="subtitle-1">Users</strong> <br>
                                <span
                                    class="headline"
                                    v-if="!fetching"
                                >
                                    {{ totals.users }}
                                </span>
                                <span v-else>
                                    <v-progress-circular
                                        indeterminate
                                    ></v-progress-circular>
                                </span>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex
                        xs12
                        sm3
                        class="align-self-stretch"
                    >
                        <v-card
                            color="error"
                            class="stat-card"
                            dark
                        >
                            <v-card-text class="text-center">
                                <strong class="subtitle-1">Actions per day</strong> <br>
                                <span
                                    class="headline"
                                    v-if="!fetching"
                                >
                                    {{ totals.per_day }}
                                </span>
                                <span v-else>
                                    <v-progress-circular
                                        indeterminate
                                    ></v-progress-circular>
                                </span>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-flex>

            <v-flex xs12>
                <v-card flat>
                    <v-card-text class="pt-0">
                        <v-layout wrap>
                            <v-flex
                                xs12
                            >
                                <h3>Roles</h3>
                                <v-btn
                                    v-for="(role, index) in roles"
                                    :key="index"
                                    :color="getButtonColor(index)"
                                    @click="selectRole(role)"
                                    class="ma-1"
                                    small
                                    v-if="role.user_ids.length"
                                >
                                    {{ role.name }}
                                </v-btn>
                            </v-flex>
                            <v-flex
                                xs12
                            >
                                <h3>Teams</h3>
                                <v-btn
                                    v-for="(team, index) in teams"
                                    :key="index"
                                    :color="getButtonColor(index)"
                                    @click="selectTeam(team)"
                                    small
                                    class="ma-1"
                                    v-if="team.sales_ids.length"
                                >
                                    {{ team.name }}
                                </v-btn>
                            </v-flex>
                            <v-flex xs12>
                                <v-autocomplete
                                    v-model="filter.ids"
                                    :filter="userFilter"
                                    :hide-no-data="!userSearch"
                                    :items="delegatedUsers"
                                    :search-input.sync="userSearch"
                                    label="Users"
                                    multiple
                                    chips
                                    deletable-chips
                                    item-text="first_name"
                                    item-value="id"
                                    hide-details
                                    prepend-icon="$mdiAccountBox"
                                    :disabled="fetching"
                                    clearable
                                    @change="userSearch = ''"
                                >
                                    <template v-slot:selection="data">
                                        <v-chip
                                            :input-value="data.selected"
                                            close
                                            class="chip--select-multi"
                                            @click:close="removeId(data.item)"
                                        >
                                            {{ data.item.first_name }} {{ data.item.last_name }}&nbsp;
                                            <span v-if="data.item.email">
                                                - {{ data.item.email }}
                                            </span>
                                        </v-chip>
                                    </template>
                                    <template v-slot:no-data>
                                        <v-list-item>
                                            No results matching "<strong>{{ userSearch }}</strong>".
                                        </v-list-item>
                                    </template>
                                    <template v-slot:item="data">
                                        <v-list-item-content>
                                            <v-list-item-title>
                                                {{ data.item.first_name }} {{ data.item.last_name }}
                                                <span v-if="data.item.email">
                                                    - {{ data.item.email }}
                                                </span>
                                            </v-list-item-title>
                                        </v-list-item-content>
                                    </template>
                                </v-autocomplete>
                            </v-flex>
                            <v-flex
                                xs12
                                sm3
                            >
                                <v-menu
                                    ref="searchDateStartMenu"
                                    v-model="searchDateStartMenu"
                                    :close-on-content-click="false"
                                    transition="scale-transition"
                                    min-width="290px"
                                    offset-y
                                >
                                    <template v-slot:activator="{ on }">
                                        <v-text-field
                                            v-on="on"
                                            label="Start date"
                                            hide-details
                                            clearable
                                            prepend-icon="$mdiCalendarRange"
                                            v-model="filter.startDate"
                                            :disabled="fetching"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker
                                        v-model="filter.startDate"
                                        no-title
                                        @input="searchDateStartMenu = false"
                                    ></v-date-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex
                                xs12
                                sm3
                            >
                                <v-menu
                                    ref="searchDateEndMenu"
                                    v-model="searchDateEndMenu"
                                    :close-on-content-click="false"
                                    transition="scale-transition"
                                    min-width="290px"
                                    offset-y
                                >
                                    <template v-slot:activator="{ on }">
                                        <v-text-field
                                            v-on="on"
                                            label="End date"
                                            hide-details
                                            v-model="filter.endDate"
                                            :disabled="fetching"
                                            prepend-icon="$mdiCalendarRange"
                                            clearable
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker
                                        v-model="filter.endDate"
                                        no-title
                                        @input="searchDateEndMenu = false"
                                    ></v-date-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex
                                xs12
                                sm6
                            >
                                <v-text-field
                                    v-model="filter.searchQuery"
                                    label="Search"
                                    hide-details
                                    prepend-icon="$mdiMagnify"
                                    :disabled="fetching"
                                    clearable
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            icon
                            @click.native.stop="clearFilters"
                            v-if="filterCount > 0"
                            color="error"
                        >
                            <v-icon>
                                $mdiFilterRemoveOutline
                            </v-icon>
                        </v-btn>

                            <v-btn
                                icon
                                @click.native.stop="toggleFilterDrawer"
                                color="primary"
                            >
                                <v-badge
                                    color="error"
                                    left
                                    overlap
                                    :value="filterCount !== 0"
                                >
                                    <span slot="badge">{{ filterCount }}</span>
                                    <v-icon>
                                        $mdiFilterVariant
                                    </v-icon>
                                </v-badge>
                            </v-btn>

                        <v-btn
                            color="success"
                            @click="download"
                        >
                            Download
                        </v-btn>
                        <v-btn
                            color="primary"
                            @click="fetchData"
                        >
                            Refresh
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>

            <v-flex xs12>
                <v-slide-y-transition mode="out-in">
                    <v-card>
                        <v-data-table
                            :headers="[
                                    {text: 'User', value: 'user_name', align: 'center'},
                                    {text: 'Description', value: 'description', align: 'center', sortable: false},
                                ]"
                            :items="items"
                            :options.sync="options"
                            :server-items-length="totalItems"
                            :loading="fetching"
                            :footer-props="{
                                'items-per-page-options': $store.getters['application/getPerPage']
                            }"
                            multi-sort
                        >
                            <template v-slot:body="{ items }">
                                <tbody>
                                <template v-for="(item, index) in items">
                                    <tr class="text-center">
                                        <td>
                                            {{ item.user_name }} <br>
                                            {{ item.user.email }}
                                        </td>
                                        <td>
                                            {{ item.description }}
                                        </td>
                                    </tr>
                                </template>
                                </tbody>
                            </template>
                        </v-data-table>
                    </v-card>
                </v-slide-y-transition>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    export default {
        data() {
            return {
                searching: false,
                totalItems: 0,
                items: [],
                fetching: true,
                timeout: null,

                totals: {
                    count: 0,
                    users: 0,
                    per_day: 0,
                },

                filter: {
                    ids: [],
                    startDate: null,
                    endDate: null,
                    searchQuery: ''
                },

                searchDateStartMenu: false,
                searchDateEndMenu: false,

                options: {
                    groupBy: [],
                    groupDesc: [],
                    itemsPerPage: 25,
                    multiSort: false,
                    mustSort: false,
                    page: 1,
                    sortBy: [],
                    sortDesc: [],
                },

                previousQuery: '',

                delegatedUsers: [],

                userSearch: null,

                roles: [],
                rolesLoaded: false,

                teams: [],
                teamsLoaded: false,
            }
        },
        name: 'Logs-Index',
        computed: {
            filterCount() {
                return this.$store.getters['application/getSelectedFiltersCount'];
            },
            selectedFilters() {
                return this.$store.getters['application/getSelectedFilters'];
            },
            searchQuery: {
                set(value) {
                    this.$store.dispatch('application/setSearchQuery', value);
                },
                get() {
                    return this.$store.getters['application/getSearchQuery'];
                }
            },
            users() {
                return this.$store.getters['resources/getUsers'];
            },
            delegatedIds() {
                return this.$store.getters['resources/getDelegatedIds'];
            },
        },
        watch: {
            filter: {
                handler(val) {
                    this.setFilterQueryString();
                },
                deep: true
            },
            'options'() {
                if (!this.fetching) {
                    this.fetchData();
                }
            },
            'filterCount'() {
                if (!this.fetching) {
                    this.fetchDataDelayed();
                }
            },
        },
        mounted() {
            this.filter.startDate = new moment().subtract(7, 'days').format('YYYY-MM-DD');
            this.filter.endDate = new moment().format('YYYY-MM-DD');

            this.checkDelegatedUsers();

            this.checkUrl().then(response => {
                this.fetchData();
            });
            this.$store.dispatch('resources/getResource', 'logTypes')
                .then(response => {
                    this.$store.dispatch('application/addToFilters', {type: 'types', data: response});
                });

            this.$store.dispatch('resources/getResource', 'rolesWithUsers')
                .then(response => {
                    this.roles = response;
                    this.rolesLoaded = true;
                });

            this.$store.dispatch('resources/getResource', 'teams')
                .then(response => {
                    this.teams = response;
                    this.teamsLoaded = true;
                });

            this.setupWebsocket('logs', this.fetchData);
        },
        methods: {
            checkDelegatedUsers() {
                if (typeof this.users == 'undefined' || typeof this.delegatedIds == 'undefined') {
                    setTimeout(() => {
                        this.checkDelegatedUsers();
                    }, 100);
                    return false;
                }

                if (this.hasMinRole('admin')) {
                    if (!this.filter.ids.length) {
                        this.filter.ids = [];
                    }
                } else if (this.hasRole('qa-manager') || this.hasRole('hr-manager')) {
                    this.filter.ids = [this.loggedInUser.id];
                } else {
                    this.filter.ids = this.delegatedIds;
                }

                for (var i = 0, len = this.users.length; i < len; i++) {
                    let user = this.users[i];

                    if (this.delegatedIds.indexOf(user.id) > -1) {
                        this.delegatedUsers.push(user);
                    }
                }
            },
            setFilterQueryString() {
                this.setDateParameter();
                this.setQueryParameter();
            },
            setDateParameter() {
                let url = new window.domurl;

                if (this.filter.startDate) {
                    url.query.startdate = this.filter.startDate;
                } else {
                    delete url.query.startdate;
                }

                if (this.filter.endDate) {
                    url.query.enddate = this.filter.endDate;
                } else {
                    delete url.query.enddate;
                }

                history.replaceState({path: url.toString()}, '', url.toString());
            },
            checkUrl() {
                return new Promise((resolve, reject) => {

                    let url = new window.domurl;
                    if (typeof url.query.page !== 'undefined') {
                        this.options.page = parseInt(url.query.page);
                    }

                    if (typeof url.query.q !== 'undefined') {
                        this.filter.searchQuery = url.query.q;
                    }

                    if (typeof url.query.ids !== 'undefined') {
                        let ids = url.query.ids.split(',');
                        this.filter.ids = ids.map(function (x) {
                            return parseInt(x);
                        });
                    }

                    if (typeof url.query.startdate !== 'undefined') {
                        this.filter.startDate = url.query.startdate;
                    }
                    if (typeof url.query.enddate !== 'undefined') {
                        this.filter.endDate = url.query.enddate;
                    }

                    if (typeof url.query.sortBy !== 'undefined') {
                        this.options.sortBy = url.query.sortBy.split('|');
                    }

                    if (typeof url.query.sortDesc !== 'undefined') {
                        let sortDesc = url.query.sortDesc.split('|');
                        this.options.sortDesc = sortDesc.map((value) => {
                            if (value == 'true') {
                                return true;
                            } else {
                                return false;
                            }
                        });
                    }

                    if (typeof url.query.itemsPerPage !== 'undefined') {
                        this.options.itemsPerPage = Number(url.query.itemsPerPage);
                    }

                    let definitions = url.decode(url.query.toString()).split('&');
                    this.$store.dispatch('application/massToggleFilters', definitions).then(response => {
                        resolve();
                    });
                });
            },
            fetchDataDelayed() {
                clearTimeout(this.timeout);
                this.timeout = setTimeout(() => {
                    this.fetchData();
                }, 500);
            },
            fetchData() {
                this.fetching = true;

                if (this.filter.searchQuery !== this.previousQuery) {
                    this.options.page = 1;
                }

                this.filter.filters = this.selectedFilters;

                this.setPageParameter(this.options.page);

                this.setSortByParameter(this.options.sortBy, this.options.sortDesc);

                this.setItemsPerPageParameter(this.options.itemsPerPage);

                window.axios.post('/logs/customSearchPaginated?page=' + this.options.page, {
                    searchDates: this.searchDates,
                    filter: this.filter,
                    itemsPerPage: this.options.itemsPerPage,
                    sortBy: this.options.sortBy,
                    sortDesc: this.options.sortDesc,
                }).then(response => {
                    this.fetching = false;
                    this.items = response.data.logs.data;
                    this.totalItems = response.data.logs.total;

                    this.totals = response.data.stats;

                    this.previousQuery = this.filter.searchQuery;
                });
            },

            setPageParameter(page) {
                let url = new window.domurl;
                url.query.page = page;
                history.replaceState({path: url.toString()}, '', url.toString());
            },
            setSortByParameter(sortBy, sortDesc) {
                let url = new window.domurl;

                if (sortBy.length) {
                    url.query.sortBy = sortBy.join('|');
                    url.query.sortDesc = sortDesc.join('|');
                } else {
                    delete url.query.sortBy;
                    delete url.query.sortDesc;
                }

                history.replaceState({path: url.toString()}, '', url.toString());
            },
            setItemsPerPageParameter(itemsPerPage) {
                let url = new window.domurl;
                url.query.itemsPerPage = itemsPerPage;
                history.replaceState({path: url.toString()}, '', url.toString());
            },
            setQueryParameter(query) {
                let url = new window.domurl;
                if (query !== '') {
                    url.query.q = query;
                } else {
                    delete url.query.q;
                }
                history.replaceState({path: url.toString()}, '', url.toString());
            },

            searchBegin() {
                this.searching = true;
                setTimeout(() => document.querySelector('#logs-search').focus(), 50)
            },
            searchEnd() {
                this.searching = false;
                this.searchQuery = '';
                document.querySelector('#logs-search').blur();
            },

            toggleFilterDrawer() {
                this.$store.commit('application/setFilterDrawerStatus', !this.$store.getters['application/getFilterDrawerStatus']);
            },
            clearFilters() {
                this.$store.dispatch('application/resetFilters');
            },

            getButtonColor(number) {
                let colors = ['primary', 'warning', 'error', 'success', 'info'];

                return colors[number % 5];
            },
            selectRole(role) {
                this.filter.ids = role.user_ids;
                this.options.page = 1;
                this.fetchData();
            },
            selectTeam(team) {
                this.filter.ids = team.sales_ids;
                this.options.page = 1;
                this.fetchData();
            },

            removeId(item) {
                const index = this.filter.ids.indexOf(item.id);
                if (index >= 0) {
                    this.filter.ids.splice(index, 1);
                }
            },

            userFilter(item, queryText, itemText) {
                const textOne = item.first_name.toLowerCase();
                const textTwo = item.last_name.toLowerCase();

                let textThree = '';

                if (typeof item.extension !== 'undefined' && item.extension !== null) {
                    textThree = item.extension.toString();
                }

                let textFour = '';

                if (typeof item.email !== 'undefined' && item.email !== null) {
                    textFour = item.email.toString();
                }

                const searchText = queryText.toLowerCase();

                return textOne.indexOf(searchText) > -1 ||
                    textTwo.indexOf(searchText) > -1 ||
                    textThree.indexOf(searchText) > -1 ||
                    textFour.indexOf(searchText) > -1;
            },

            download() {
                this.fetching = true;

                window.axios.post('/logs/download?page=' + this.options.page,
                    {
                        searchDates: this.searchDates,
                        filter: this.filter,
                        itemsPerPage: this.options.itemsPerPage,
                        sortBy: this.options.sortBy,
                        sortDesc: this.options.sortDesc,
                    }, {
                        responseType: 'blob'
                    }
                )
                    .then(response => {
                        let filename = 'Logs-' + new moment().format('YYYY-MM-DD') + '.xlsx';

                        if (typeof response.headers['content-disposition'] != 'undefined') {
                            filename = response.headers['content-disposition'];
                            filename = filename.slice(filename.indexOf('=') + 2, -1);
                        }

                        window.fileDownload(response.data, filename);
                        this.fetching = false;
                    })
                    .catch(error => {
                        this.$toasted.show("Whoops! Something went wrong", {
                            theme: "error",
                            position: "top-center",
                            duration: 1500
                        });

                        this.fetching = false;
                    });
            }
        },
    }
</script>
