<template>
    <v-card flat>
        <v-card-text v-if="typeof image.metadata !== 'undefined'">
            <v-text-field
                    label="Name"
                    v-model="image.name"
                    :disabled="uploading || fetching || updating"
            ></v-text-field>

            <v-text-field
                    :value="humanFileSize(image.size)"
                    label="size"
                    disabled
            ></v-text-field>

            <v-text-field
                    :value="image.metadata.mime"
                    label="mime"
                    disabled
            ></v-text-field>

            <v-text-field
                    label="Caption"
                    v-model="image.metadata.caption"
                    :disabled="uploading || fetching || updating"
            ></v-text-field>

            <v-text-field
                    label="Copyright"
                    v-model="image.metadata.copyright"
                    :disabled="uploading || fetching || updating"
            ></v-text-field>

            <v-combobox
                    v-model="image.metadata.tags"
                    label="Tags"
                    multiple
                    chips
                    hint="Hit enter after each tag to create it"
                    persistent-hint
                    deletable-chips
                    append-icon=""
                    :disabled="uploading || fetching || updating"
            ></v-combobox>
        </v-card-text>
        <v-card-text v-else>
            <p class="text-center">
                No metadata array for attributes
            </p>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                color="success"
                @click="$emit('update', image)"
                :disabled="uploading || fetching"
                :loading="updating"
            >
                Update
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
    export default {
        data() {
            return {}
        },
        props: ['updating', 'fetching', 'uploading', 'image'],
        name: 'Image-Attributes',
        mounted() {
        },
        computed: {
            loggedInUser() {
                return this.$store.getters['auth/getUser'];
            },
            editable() {
                return !!(this.hasMinRole('admin'));
            },
            deletable() {
                return !!(this.hasMinRole('admin'));
            }
        },
        methods: {},
    }
</script>
