<template>
    <v-card flat>
        <v-card-text>
            <div class="mb-2">
                <img class="img-fluid mw-100" :src="'/images/h/c/' + $route.params.imageId">
            </div>
            <h3 class="headline mb-2">Colors</h3>
            <p v-for="(color, index) in image.colors">
                <span class="font-weight-medium">{{ index }}:</span> {{ color }}%
            </p>
        </v-card-text>
    </v-card>
</template>
<script>
    export default {
        data() {
            return {
            }
        },
        props: ['image'],
        name: 'Image-Histogram',
        mounted() {
        },
        computed: {
            loggedInUser() {
                return this.$store.getters['auth/getUser'];
            },
            editable() {
                return !!(this.hasMinRole('admin'));
            },
            deletable() {
                return !!(this.hasMinRole('admin'));
            }
        },
        methods: {
        },
    }
</script>