.v-standard-avatar {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    i {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 120px !important;
        background-color: #1976d2;
        border-radius: 50%;
    }
}

.v-standard-avatar:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.light-box {
    position: relative !important;
}

.light-box-close {
    position: absolute !important;
    top: 0;
    right: 0;
    background-color: #222222 !important;
    color: #eeeeee !important;
}

.single-file {
    border: 1px solid #757575 !important;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}

.single-file-contents {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mw-100 {
    min-width: 100% !important;
}

.edit-image-image-wrapper {
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-self-stretch {
    align-self: stretch !important;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 1380px) {
    .toggle-side-menu-button {
        display: none !important;
    }
}
