<template>
    <v-card flat v-if="!loading">
        <v-card-text>
            <v-layout wrap>
                <v-flex xs12 sm5>
                    <v-text-field
                        v-model="user.first_name"
                        label="First name"
                        type="text"
                        :disabled="!editable || waiting"
                        :autocomplete="'new-password'"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 sm5>
                    <v-text-field
                        v-model="user.last_name"
                        label="Last name"
                        type="text"
                        :disabled="!editable || waiting"
                        :autocomplete="'new-password'"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 sm2>
                    <v-select
                        v-model="user.details.gender"
                        :items="['Male', 'Female']"
                        label="Gender"
                        :disabled="!editable || waiting"
                    ></v-select>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        v-model="user.email"
                        label="Email"
                        :disabled="waiting"
                        readonly
                        :autocomplete="'new-password'"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-layout wrap row>
                        <v-flex xs3>
                            <v-autocomplete
                                :items="countries"
                                :filter="customFilter"
                                v-model="user.details.number_prefix"
                                item-text="prefix"
                                item-value="prefix"
                                label="Prefix"
                                :disabled="!editable || waiting"
                            ></v-autocomplete>
                        </v-flex>
                        <v-flex xs9>
                            <v-text-field
                                v-model="user.details.number"
                                label="Contact Number"
                                type="text"
                                :disabled="!editable || waiting"
                                :autocomplete="'new-password'"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-menu
                        ref="birthDateMenu"
                        :close-on-content-click="false"
                        v-model="birthDateMenu"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                v-on="on"
                                v-model="user.details.birth_date"
                                label="Date of birth"
                                readonly
                                :autocomplete="'new-password'"
                                :disabled="!editable || waiting"
                            ></v-text-field>
                        </template>

                        <v-date-picker
                            ref="picker"
                            v-model="user.details.birth_date"
                            :max="new Date().toISOString().substr(0, 10)"
                            @change="saveBirthDate"
                        ></v-date-picker>
                    </v-menu>
                </v-flex>
                <v-flex xs12>
                    <v-select
                        label="Roles"
                        v-model="user.role_ids"
                        :items="roles"
                        item-text="name"
                        item-value="id"
                        multiple
                        deletable-chips
                        chips
                        :disabled="!(hasRole('hr-manager') || hasMinRole('admin')) || waiting"
                    ></v-select>
                </v-flex>
            </v-layout>
        </v-card-text>
        <v-card-actions v-if="editable">
            <v-spacer></v-spacer>
            <v-btn
                v-if="hasRole('super-admin') && isDeleted"
                color="warning"
                @click="restore"
                :loading="waiting"
            >
                Restore
            </v-btn>
            <v-btn
                v-if="canImpersonate && !isDeleted"
                color="warning"
                @click="impersonate"
                :loading="waiting"
            >
                Impersonate
            </v-btn>
            <v-btn
                v-if="!isDeleted"
                color="success"
                @click="doUpdate"
                :loading="waiting"
            >
                Save
            </v-btn>
            <v-btn
                color="error"
                @click="handleDelete"
                v-if="deletable && !isDeleted"
                :loading="waiting"
            >
                Delete
            </v-btn>
        </v-card-actions>
        <v-confirm
            :dialog.sync="deleteDialog"
            :waiting.sync="deleteWaiting"
            @cancel="cancelDelete"
            @confirm="doDelete"
        ></v-confirm>
    </v-card>
</template>
<script>
    export default {
        data() {
            return {
                loading: true,
                user: {},
                birthDateMenu: false,

                deleteDialog: false,
                deleteWaiting: false,

                roles: [],
                countries: [],
            }
        },
        props: ['itemInfo', 'waiting'],
        name: 'User-Info',
        mounted() {
            this.user = this.itemInfo;
            setTimeout(() => {
                this.loading = false;
            }, 100);

            this.$store.dispatch('resources/getResource', 'roles').then(response => {
                this.setRoles(response);
            });
            this.$store.dispatch('resources/getResource', 'countries').then(response => {
                this.countries = response;
            });
        },
        watch: {
            birthDateMenu(val) {
                val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
            }
        },
        computed: {
            canImpersonate() {
                return this.hasRole('super-admin') && !this.alreadyImpersonating && this.user.id !== this.loggedInUser.id && this.user.deleted_at == null
            },
            loggedInUser() {
                return this.$store.getters['auth/getUser'];
            },
            alreadyImpersonating() {
                return typeof this.loggedInUser.impersonator !== 'undefined' && this.loggedInUser.impersonator !== null;
            },
            userId() {
                if (this.$route.params.userId) {
                    return parseInt(this.$route.params.userId);
                } else {
                    return this.loggedInUser.id;
                }
            },
            editable() {
                return !!(this.loggedInUser.id == parseInt(this.userId) || this.hasMinRole('admin') || this.hasRole('hr-manager'));
            },
            deletable() {
                return !!(this.loggedInUser.id !== parseInt(this.userId));
            },
            isDeleted() {
                return !!(this.user.deleted_at !== null);
            }
        },
        methods: {
            customFilter(item, queryText, itemText) {
                const textOne = item.name.toLowerCase();
                const textTwo = item.prefix.toLowerCase();
                const searchText = queryText.toLowerCase();

                return textOne.indexOf(searchText) > -1 || textTwo.indexOf(searchText) > -1;
            },

            saveBirthDate(date) {
                this.$refs.birthDateMenu.save(date);
            },

            cancelDelete() {
                this.deleteDialog = false;
                this.deleteWaiting = false;
            },
            handleDelete() {
                this.deleteDialog = true;
            },
            doDelete() {
                this.deleteWaiting = true;
                window.axios.post('/users/delete', {id: this.$route.params.userId}).then(response => {
                    this.cancelDelete();
                    this.$router.push('/users');
                });
            },

            doUpdate() {
                this.$emit('updating', true);
                window.axios.post('/users/update', {user: this.user}).then(response => {
                    this.$emit('update', response.data.user);

                    if (this.loggedInUser.id == this.userId) {
                        this.$store.dispatch('auth/getUser');
                    }

                    this.$toasted.show("Update successful", {
                        theme: "default",
                        position: "top-center",
                        duration: 1500
                    });

                    this.$emit('updating', false);
                });
            },

            impersonate() {
                window.location = '/impersonate/' + this.$route.params.userId;
            },

            restore() {
                window.axios.post('/users/restore', {id: this.$route.params.userId}).then(response => {
                    this.$toasted.show('User restored!', {
                        theme: "default",
                        position: "top-center",
                        duration: 1500
                    });
                    this.user = response.data.user;
                });
            },

            setRoles(response) {
                if (this.isEmpty(this.loggedInUser)) {
                    setTimeout(() => {
                        this.setRoles(response);
                    }, 100);

                    return false;
                } else {
                    for (let i = 0, len = response.length; i < len; i++) {
                        let role = response[i];
                        this.roles.push(role);
                    }
                }
            }
        },
    }
</script>
