<template>
    <v-card flat v-if="!loading">
        <v-card-text>
            <v-layout wrap>
                <v-flex xs12>
                    <v-single-image-by-role
                        :images="user.images"
                        :model-id="user.id"
                        model="user"
                        role="banner"
                        :changeable="editable"
                        :disabled.sync="waiting"
                        @update="$emit('update')"

                        ratio="17:6"
                        title="Banner"
                        width="680"
                        height="240"
                        accept="image/jpeg"
                    ></v-single-image-by-role>
                </v-flex>
            </v-layout>
        </v-card-text>
    </v-card>
</template>
<script>
    export default {
        data() {
            return {
                loading: true,
                user: {},
            }
        },
        props: ['itemInfo', 'waiting'],
        name: 'User-Media',
        mounted() {
            this.user = this.itemInfo;
            setTimeout(() => {
                this.loading = false;
            }, 100);
        },
        computed: {
            canImpersonate() {
                return this.hasRole('super-admin') && !this.alreadyImpersonating && this.user.id !== this.loggedInUser.id && this.user.deleted_at == null
            },
            loggedInUser() {
                return this.$store.getters['auth/getUser'];
            },
            alreadyImpersonating() {
                return typeof this.loggedInUser.impersonator !== 'undefined' && this.loggedInUser.impersonator !== null;
            },
            userId() {
                if (this.$route.params.userId) {
                    return parseInt(this.$route.params.userId);
                } else {
                    return this.loggedInUser.id;
                }
            },
            editable() {
                return !!(this.loggedInUser.id == parseInt(this.userId) || this.hasMinRole('admin') || this.hasRole('hr-manager'));
            },
            deletable() {
                return !!(this.loggedInUser.id !== parseInt(this.userId));
            }
        },
        methods: {
        },
    }
</script>
