<template>
    <v-container
        :fluid="!loading"
        :grid-list-lg="!loading"
        :fill-height="loading"
        :class="loading ? 'container-loading' : ''"
    >
        <v-layout wrap v-if="!loading">
            <v-flex xs12>
                <v-slide-y-transition mode="out-in">
                    <v-layout wrap>
                        <v-flex xs12 sm6 v-if="!uploading">
                            <div class="text-center edit-image-image-wrapper">
                                <img :src="getImageUrl" class="img-fluid">
                            </div>
                            <div class="text-center mt-2">
                                <v-btn
                                    class="primary"
                                    @click="handleImageEditor"
                                    :disabled="updating"
                                    :loading="fetching"
                                >
                                    Edit
                                </v-btn>
                                <v-btn
                                    class="error"
                                    @click="handleDelete"
                                    :disabled="updating || fetching"
                                >
                                    Delete
                                </v-btn>
                            </div>
                        </v-flex>
                        <v-flex xs12 sm6 v-else>
                            <div class="text-center">
                                <v-progress-circular
                                        :rotate="270"
                                        :size="150"
                                        :width="10"
                                        :value="uploadingProgress"
                                        color="primary"
                                        :indeterminate="uploadingProgress == 100"
                                >
                                    {{ uploadingProgress }} %
                                </v-progress-circular>
                            </div>
                        </v-flex>
                        <v-flex xs12 sm6>
                            <v-tabs
                                    v-model="activeTab"
                                    centered
                                    icons-and-text
                                    @change="setTab"
                                    mobile-break-point="320"
                            >
                                <v-tabs-slider color="primary"></v-tabs-slider>

                                <v-tab href="#attributes" :disabled="uploading || updating || fetching">
                                    Attributes
                                    <v-icon>$mdiInformationOutline</v-icon>
                                </v-tab>

                                <v-tab href="#associations" :disabled="uploading || updating || fetching">
                                    Associations
                                    <v-icon>$mdiLinkVariant</v-icon>
                                </v-tab>

                                <v-tab href="#histogram" :disabled="uploading || updating || fetching">
                                    Histogram
                                    <v-icon>$mdiChartHistogram</v-icon>
                                </v-tab>

                                <v-tab-item value="attributes">
                                    <image-attributes
                                            v-if="activeTab == 'attributes'"
                                            :image="image"
                                            :updating.sync="waiting"
                                            :fetching.sync="fetching"
                                            :uploading.sync="uploading"
                                            @update="doUpdate"
                                    ></image-attributes>
                                </v-tab-item>

                                <v-tab-item value="associations">
                                    <image-associations
                                            v-if="activeTab == 'associations'"
                                    ></image-associations>
                                </v-tab-item>

                                <v-tab-item value="histogram">
                                    <image-histogram
                                            v-if="activeTab == 'histogram'"
                                            :image="image"
                                    ></image-histogram>
                                </v-tab-item>
                            </v-tabs>
                        </v-flex>
                    </v-layout>
                </v-slide-y-transition>
            </v-flex>
        </v-layout>
        <v-layout v-else justify-center align-center column>
            <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
            ></v-progress-circular>
        </v-layout>
        <v-confirm
                :dialog.sync="deleteDialog"
                :waiting.sync="deleteWaiting"
                @cancel="cancelDelete"
                @confirm="doDelete"
        ></v-confirm>
        <v-img-editor
                v-if="showEditor"
                :image="imageClone"
                :viewMode="1"
                replaceAndReupload
                @close="resetEditor"
                @save="reuploadNewImage"
                @replace="replaceNewImage"
        ></v-img-editor>
    </v-container>
</template>
<script>
    import ImageAttributes from './EditTabs/Attributes';
    import ImageAssociations from './EditTabs/Associations';
    import ImageHistogram from './EditTabs/Histogram';

    export default {
        data() {
            return {
                loading: true,
                waiting: true,
                updating: false,
                fetching: false,

                image: {},

                deleteDialog: false,
                deleteWaiting: false,

                uploading: false,
                uploadingProgress: 0,

                imageClone: {
                    blob: null,
                    url: null,
                    name: null,
                    type: null,
                },
                showEditor: false,

                activeTab: 'attributes',
            }
        },
        name: 'Edit-Image',
        components: {
            ImageAttributes,
            ImageAssociations,
            ImageHistogram,
        },
        computed: {
            getImageUrl() {
                if (this.image.width > 700 || this.image.height > 500) {
                    return '/images/' + this.image.hash + '-ct=700+500' + '.' + this.image.type;
                } else {
                    return '/images/' + this.image.hash + '.' + this.image.type;
                }
            }
        },
        watch: {
            '$route.params'(id) {
                this.getImage();
            },
        },
        mounted() {
            this.getImage();
        },
        methods: {
            determineTab() {
                let url = new window.domurl;
                if (typeof url.query.tab !== 'undefined') {
                    this.activeTab = url.query.tab;
                }
                this.setTab();
            },

            getImage() {
                this.loading = true;

                this.determineTab();

                window.axios.post('/images/get', {id: this.$route.params.imageId}).then(response => {
                    this.image = response.data.image;
                    this.loading = false;
                    this.waiting = false;
                });
            },

            setTab(firstTime) {
                this.$store.dispatch('application/clearFilters');

                let url = new window.domurl;

                if (this.activeTab === 'associations') {
                    if (firstTime !== true) {
                        for (let qParam in url.query) {
                            if (url.query.hasOwnProperty(qParam)) {
                                if (qParam !== 'tab') {
                                    delete url.query[qParam];
                                }
                            }
                        }
                    }

                    if (typeof url.query.page == 'undefined') {
                        url.query.page = 1;
                    }


                } else {
                    url.clearQuery();
                }

                url.query.tab = this.activeTab;

                window.history.replaceState({path: url.toString()}, '', url.toString());
            },

            cancelDelete() {
                this.deleteDialog = false;
                this.deleteWaiting = false;
            },
            handleDelete() {
                this.deleteDialog = true;
            },
            doDelete() {
                this.deleteWaiting = true;
                window.axios.post('/images/delete', {id: this.image.id}).then(response => {
                    this.cancelDelete();
                    this.$router.push('/image-store');
                });
            },
            doUpdate(image) {
                this.updating = true;
                window.axios.post('/images/updateMetadata', {
                    id: this.image.id,
                    metadata: this.image.metadata,
                }).then(response => {
                    this.image = response.data.image;

                    this.$toasted.show("Update successful", {
                        theme: "default",
                        position: "top-center",
                        duration: 1500
                    });

                    this.updating = false;
                });
            },

            handleImageEditor() {
                this.fetching = true;

                fetch('/images/' + this.image.hash + '.' + this.image.type)
                    .then(res => {
                        return res.blob();
                    }).then(blob => {

                    this.imageClone = {
                        blob: blob,
                        url: URL.createObjectURL(blob),
                        name: this.image.basename,
                        type: this.image.metadata.mime
                    };

                    this.showEditor = true;

                    this.fetching = false;

                }).catch(error => {
                    this.$toasted.show("Whoops! Something went wrong!", {
                        theme: "error",
                        position: "top-center",
                        duration: 3000
                    });

                    this.fetching = false;
                });
            },
            resetEditor() {
                this.imageClone = {
                    blob: null,
                    url: null,
                    name: null,
                    type: null,
                };
                this.showEditor = false;
            },
            replaceNewImage(image) {
                this.uploadingProgress = 0;
                this.uploading = true;

                let data = new FormData();

                data.append('id', this.$route.params.imageId);
                data.append('role', 'image');
                data.append('image', image);
                window.axios.post('/images/replace', data, {
                    errorHandle: true,
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress: (progressEvent) => {
                        this.uploadingProgress = Math.round((progressEvent.loaded * 100) / progressEvent.total)
                    }
                }).then(response => {
                    this.image = response.data.image;

                    this.uploading = false;

                }).catch(error => {
                    let message = "Whoops! Something went wrong";

                    if (error.response.status === 413) {
                        message = "Whoops! Image size is too large";
                    }

                    this.$toasted.show(message, {
                        theme: "error",
                        position: "top-center",
                        duration: 3500
                    });
                });
            },
            reuploadNewImage(image) {
                this.uploadingProgress = 0;
                this.uploading = true;

                let data = new FormData();

                data.append('role', 'image');
                data.append('image', image);
                window.axios.post('/images/upload', data, {
                    errorHandle: true,
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress: (progressEvent) => {
                        this.uploadingProgress = Math.round((progressEvent.loaded * 100) / progressEvent.total)
                    }
                }).then(response => {
                    this.$router.push('/image-store/edit/' + response.data.image.id);

                    this.uploading = false;

                }).catch(error => {
                    let message = "Whoops! Something went wrong";

                    if (error.response.status === 413) {
                        message = "Whoops! Image size is too large";
                    }

                    this.$toasted.show(message, {
                        theme: "error",
                        position: "top-center",
                        duration: 3500
                    });
                });
            }
        },
    }
</script>
