<template>
    <v-container
        :fluid="!loading"
        :grid-list-lg="!loading"
        :fill-height="loading"
        :class="loading ? 'container-loading' : ''"
    >
        <v-layout wrap v-if="!loading" class="justify-center">
            <v-flex xs12 md6>
                <v-upload
                        url="/images/upload"
                        accept="image/jpeg, image/png"
                        role="images"
                        fileType="image"
                        @uploaded="uploadedImage"
                        @error="alertError"
                        multiple
                >
                    Drag your image<br> or click to browse
                </v-upload>
            </v-flex>
            <v-flex xs12>
                <v-slide-y-transition mode="out-in">
                    <v-card>
                        <v-card-title dark class="primary white--text pa-3">

                            <div class="text--white text-uppercase subtitle-1 font-weight-medium pa-2">
                                {{ totalItems }}
                                <span v-if="totalItems === 1">Result</span>
                                <span v-else>Results</span>
                            </div>

                            <v-spacer></v-spacer>

                            <div :class="{'searching--closed': !searching}" class="searching">
                                <v-text-field
                                        id="images-search"
                                        v-model="searchQuery"
                                        append-icon="$mdiClose"
                                        @click:append="searchEnd"
                                        placeholder="Search"
                                        hide-details
                                        :autocomplete="'new-password'"
                                        solo
                                ></v-text-field>
                            </div>

                            <v-btn icon dark @click.native.stop="searchBegin">
                                <v-icon>$mdiMagnify</v-icon>
                            </v-btn>

                            <v-btn icon dark @click.native.stop="fetchImages">
                                <v-icon>$mdiAutorenew</v-icon>
                            </v-btn>

                        </v-card-title>
                        <v-card-text class="pa-3">
                            <v-layout wrap>
                                <v-flex
                                        v-for="(image, index) in images"
                                        :key="index"
                                        xs12 sm4 md3 lg2
                                        class="d-flex child-flex"
                                >
                                    <v-card flat tile class="d-flex v-gallery">
                                        <v-img
                                            :src="'/images/' + image.hash + '-ft=320+320.' + image.type"
                                            :lazy-src="'/images/' + image.hash + '-ft=320+320.' + image.type"
                                            aspect-ratio="1"
                                            class="grey lighten-2"
                                        >
                                            <template v-slot:placeholder>
                                                <v-row
                                                    class="fill-height ma-0"
                                                    align="center"
                                                    justify="center"
                                                >
                                                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                                </v-row>
                                            </template>
                                        </v-img>
                                        <div class="v-gallery-actions">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn
                                                        v-on="on"
                                                        fab
                                                        small
                                                        color="warning"
                                                        @click="handleViewImageFile(index)"
                                                    >
                                                        <v-icon>$mdiEye</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>View</span>
                                            </v-tooltip>

                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn
                                                        v-on="on"
                                                        fab
                                                        small
                                                        color="success"
                                                        @click="handleDownloadImageFile(index)"
                                                    >
                                                        <v-icon>$mdiDownload</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>Download</span>
                                            </v-tooltip>

                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn
                                                        v-on="on"
                                                        fab
                                                        small
                                                        color="primary"
                                                        @click="handleEditImageFile(image)"
                                                    >
                                                        <v-icon>$mdiPencil</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>Edit</span>
                                            </v-tooltip>

                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn
                                                        v-on="on"
                                                        fab
                                                        small
                                                        color="error"
                                                        @click="handleDeleteImageFile(index)"
                                                    >
                                                        <v-icon>$mdiDelete</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>Delete</span>
                                            </v-tooltip>
                                        </div>
                                    </v-card>
                                </v-flex>
                                <v-flex xs12 v-if="totalItems > 18">
                                    <div class="text-center">
                                        <v-pagination
                                                :disabled="fetching"
                                                v-model="pagination.page"
                                                :total-visible="7"
                                                :length="lastPage"
                                                circle
                                        ></v-pagination>
                                    </div>
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-slide-y-transition>
            </v-flex>
            <v-confirm
                    :dialog.sync="deleteDialog"
                    :waiting.sync="deleteWaiting"
                    @cancel="cancelDelete"
                    @confirm="doDeleteImage"
            ></v-confirm>
            <v-dialog v-model="viewImageDialog" persistent :max-width="lightboxMaxWidth">
                <v-card v-if="selectedImage" class="light-box">
                    <v-btn class="light-box-close" flat icon @click="closeImageViewDialog">
                        <v-icon>$mdiClose</v-icon>
                    </v-btn>
                    <v-card-text class="text-center pa-3">
                        <img :src="lightboxSrc" class="img-fluid">
                        <p class="text-center">
                            Name: {{ selectedImage.name }}<br>
                            <span v-if="selectedImage.metadata.alt">
                                Alt: {{ selectedImage.metadata.alt }}
                            </span>
                        </p>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </v-layout>
        <v-layout v-else justify-center align-center column>
            <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
            ></v-progress-circular>
        </v-layout>
    </v-container>
</template>
<script>
    export default {
        data() {
            return {
                loading: true,
                fetching: true,

                searchQuery: '',
                searching: false,

                totalItems: 0,
                lastPage: 1,
                images: [],

                pagination: {
                    descending: false,
                    page: 1,
                    rowsPerPage: 15,
                    sortBy: null,
                    totalItems: 0,
                },

                previousQuery: '',

                timeout: null,

                deleteImageIndex: null,
                deleteDialog: false,
                deleteWaiting: false,

                selectedImage: null,
                viewImageDialog: false,
            }
        },
        components: {},
        name: 'Images',
        computed: {
            loggedInUser() {
                return this.$store.getters['auth/getUser'];
            },
            editable() {
                return !!(this.hasMinRole('admin'));
            },
            lightboxSrc() {
                if (this.selectedImage) {
                    if (this.selectedImage.width > this.selectedImage.height) {
                        return '/images/' + this.selectedImage.hash + '-ct=800+800.' + this.selectedImage.type;
                    } else {
                        return '/images/' + this.selectedImage.hash + '-ct=650+650.' + this.selectedImage.type;
                    }
                } else {
                    return '';
                }
            },
            lightboxMaxWidth() {
                if (this.selectedImage) {
                    if (this.selectedImage.width > this.selectedImage.height) {
                        return 800;
                    } else {
                        return 650;
                    }
                } else {
                    return 320;
                }
            }
        },
        watch: {
            'searchQuery'() {
                if (!this.fetching) {
                    this.fetchImagesDelayed();
                }
                this.setQueryParameter(this.searchQuery);
            },
            'pagination.page'() {
                if (!this.fetching) {
                    this.fetchImages();
                }
            },
        },
        mounted() {
            this.checkUrlForParams();

            this.setupWebsocket('images', this.fetchImages);
        },
        methods: {
            fetchImagesDelayed() {
                clearTimeout(this.timeout);
                this.timeout = setTimeout(() => {
                    this.fetchImages();
                }, 500);
            },
            fetchImages() {
                this.fetching = true;

                if (this.searchQuery !== this.previousQuery) {
                    this.pagination.page = 1;
                }

                this.setPageParameter(this.pagination.page);

                this.setSortByParameter(this.pagination.sortBy, this.pagination.descending);

                this.setItemsPerPageParameter(this.pagination.rowsPerPage);

                window.axios.post('/images/searchPaginated?page=' + this.pagination.page, {
                    searchQuery: this.searchQuery,
                    itemsPerPage: this.pagination.rowsPerPage,
                    sortBy: this.pagination.sortBy,
                    descending: this.pagination.descending,
                }).then(response => {
                    this.images = response.data.images.data;
                    this.totalItems = response.data.images.total;
                    this.lastPage = response.data.images.last_page;
                    this.loading = false;
                    this.fetching = false;

                    this.previousQuery = this.searchQuery;
                });
            },

            checkUrlForParams() {
                let url = new window.domurl;

                if (typeof url.query.page !== 'undefined') {
                    this.pagination.page = parseInt(url.query.page);
                }

                if (typeof url.query.q !== 'undefined') {
                    this.searchQuery = url.query.q;
                    this.searching = true;
                }

                if (typeof url.query.sortBy !== 'undefined') {
                    this.pagination.sortBy = url.query.sortBy;
                }

                if (typeof url.query.sortDesc !== 'undefined') {
                    this.pagination.descending = url.query.sortDesc;
                }

                if (typeof url.query.itemsPerPage !== 'undefined') {
                    this.pagination.rowsPerPage = Number(url.query.itemsPerPage);
                }

                let definitions = url.decode(url.query.toString()).split('&');
                this.$store.dispatch('application/massToggleFilters', definitions).then(response => {
                    this.fetchImages();
                });
            },

            setPageParameter(page) {
                let url = new window.domurl;
                url.query.page = page;
                history.replaceState({path: url.toString()}, '', url.toString());
            },
            setSortByParameter(sortBy, sortDesc) {
                let url = new window.domurl;
                url.query.sortBy = sortBy;
                if (sortBy) {
                    url.query.sortDesc = sortDesc;
                } else {
                    delete url.query.sortDesc;
                }
                history.replaceState({path: url.toString()}, '', url.toString());
            },
            setItemsPerPageParameter(itemsPerPage) {
                let url = new window.domurl;
                url.query.itemsPerPage = itemsPerPage;
                history.replaceState({path: url.toString()}, '', url.toString());
            },
            setQueryParameter(query) {
                let url = new window.domurl;
                if (query !== '') {
                    url.query.q = query;
                } else {
                    delete url.query.q;
                }
                history.replaceState({path: url.toString()}, '', url.toString());
            },

            searchBegin() {
                this.searching = true;
                setTimeout(() => document.querySelector('#images-search').focus(), 50)
            },
            searchEnd() {
                this.searching = false;
                this.searchQuery = '';
                document.querySelector('#images-search').blur();
            },

            uploadedImage() {
                this.fetchImages();
                this.$toasted.show('Image uploaded!', {
                    theme: "default",
                    position: "top-center",
                    duration: 2000
                });
            },
            alertError(message) {
                this.$toasted.show(message, {
                    theme: "error",
                    position: "top-center",
                    duration: 3500
                });
            },

            handleViewImageFile(index) {
                this.selectedImage = this.images[index];
                this.viewImageDialog = true;
            },

            closeImageViewDialog() {
                this.viewImageDialog = false;
                this.selectedImage = null;
            },

            handleDownloadImageFile(index) {
                window.open('/images/download/' + this.images[index].id, "_blank");
            },

            handleEditImageFile(image) {
                this.$router.push('/image-store/edit/' + image.id);
            },

            handleDeleteImageFile(index) {
                this.deleteImageIndex = index;
                this.deleteDialog = true;
            },
            cancelDelete() {
                this.deleteImageIndex = null;
                this.deleteWaiting = false;
                this.deleteDialog = false;
            },
            doDeleteImage() {
                this.deleteWaiting = true;
                window.axios.post('/images/delete', {
                    id: this.images[this.deleteImageIndex].id,
                }).then(response => {
                    this.fetchImages();
                    this.cancelDelete();
                    this.$toasted.show("Image deleted", {
                        theme: "default",
                        position: "top-center",
                        duration: 1500
                    });
                });
            },
        }
    }
</script>
