<template>
    <v-sub-table
            :data-url="'/files/associations'"
            data-id-parameter="fileId"
            :single-item-name="'association'"
            :plural-item-name="'associations'"
            :headers="[
                {text: 'ID', value: 'id', align: 'center', sortable: false},
                {text: 'Association', value: 'association', align: 'center', sortable: false}
            ]"
            :searchButton="false"
            :createButton="false"
            :filterButton="false"
    >
        <template slot="row" slot-scope="props">
            <tr class="text-center">
                <td>
                    {{ props.item.association_id }}
                </td>
                <td>
                    {{ props.item.association_type }}
                </td>
            </tr>
        </template>
    </v-sub-table>
</template>
<script>
    export default {
        data() {
            return {}
        },
        props: [],
        name: 'File-Associations',
        mounted() {
        },
        computed: {
            loggedInUser() {
                return this.$store.getters['auth/getUser'];
            },
            editable() {
                return !!(this.hasMinRole('admin'));
            },
            deletable() {
                return !!(this.hasMinRole('admin'));
            }
        },
        methods: {},
    }
</script>
