<template>
    <v-card flat>
        <v-card-text v-if="typeof file.metadata !== 'undefined'">
            <v-layout>
                <v-flex
                    xs12
                    sm3
                    class="text-center"
                >
                    <label class="caption grey--text">
                        Public
                    </label>
                    <v-switch
                        class="mt-0 center-switch"
                        v-model="file.public"
                        color="primary"
                        hide-details
                        :disabled="updating"
                        @change="toggleFilePublic"
                    ></v-switch>
                </v-flex>
            </v-layout>
            <v-text-field
                label="Name"
                v-model="file.name"
                :disabled="updating"
            ></v-text-field>

            <v-text-field
                :value="file.metadata.mime"
                label="mime"
                disabled
            ></v-text-field>

            <v-text-field
                label="Caption"
                v-model="file.metadata.caption"
                :disabled="updating"
            ></v-text-field>

            <v-text-field
                label="Copyright"
                v-model="file.metadata.copyright"
                :disabled="updating"
            ></v-text-field>

            <v-combobox
                v-model="file.metadata.tags"
                label="Tags"
                multiple
                chips
                hint="Hit enter after each tag to create it"
                persistent-hint
                deletable-chips
                append-icon=""
                :disabled="updating"
            ></v-combobox>
        </v-card-text>
        <v-card-text v-else>
            <p class="text-center">
                No metadata for this file
            </p>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                color="success"
                @click="$emit('update', file)"
                :loading="updating"
            >
                Update
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
    export default {
        data() {
            return {
                object: {},
            }
        },
        props: ['updating', 'file'],
        name: 'File-Attributes',
        mounted() {
            this.object = this.file;
        },
        computed: {
            loggedInUser() {
                return this.$store.getters['auth/getUser'];
            },
            editable() {
                return !!(this.hasMinRole('admin'));
            },
            deletable() {
                return !!(this.hasMinRole('admin'));
            }
        },
        methods: {
            toggleFilePublic() {
                window.axios.post('/files/togglePublic', {
                    id: this.file.id
                }).then(response => {
                    this.object.public = response.data.public;
                });
            }
        },
    }
</script>
