<template>
    <v-container
        :fluid="!loading"
        :grid-list-lg="!loading"
        :fill-height="loading"
        :class="loading ? 'container-loading' : ''"
    >
        <v-layout
            wrap
            v-if="!loading"
        >
            <v-flex xs12>
                <v-slide-y-transition mode="out-in">
                    <v-layout wrap>
                        <v-flex
                            xs12
                            sm3
                        >
                            <v-slide-y-transition mode="out-in">
                                <v-card color="white">
                                    <v-card-text>
                                        <div class="text-center mb-3">
                                            <div class="v-standard-avatar">
                                                <v-icon dark>$mdiSettings</v-icon>
                                            </div>
                                        </div>
                                        <v-list
                                            two-line
                                            subheader
                                        >
                                            <v-list-item
                                                v-if="typeof settings.application !== 'undefined' && typeof settings.application.name !== 'undefined'"
                                            >
                                                <v-list-item-content>
                                                    <v-list-item-title>Name:</v-list-item-title>
                                                    <v-list-item-subtitle>
                                                        {{ settings.application.name }}
                                                    </v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>
                                            <v-list-item
                                                v-if="typeof settings.application !== 'undefined' && typeof settings.application.production !== 'undefined'"
                                            >
                                                <v-list-item-content>
                                                    <v-list-item-title>Status:</v-list-item-title>
                                                    <v-list-item-subtitle>
                                                        {{ settings.application.production ? 'Production' : 'Development' }}
                                                    </v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>
                                        </v-list>

                                        <div class="text-center">
                                            <v-btn
                                                color="warning"
                                                @click="clearCache"
                                                :disabled="!editable"
                                            >
                                                Clear cache
                                            </v-btn>
                                        </div>

                                    </v-card-text>
                                </v-card>
                            </v-slide-y-transition>
                        </v-flex>
                        <v-flex
                            xs12
                            sm9
                        >
                            <v-card color="white">
                                <v-card-text>
                                    <v-tabs
                                        v-model="activeTab"
                                        centered
                                        icons-and-text
                                        @change="setTab"
                                        mobile-break-point="320"
                                    >
                                        <v-tabs-slider color="primary"></v-tabs-slider>

                                        <v-tab href="#application">
                                            Application
                                            <v-icon>$mdiAngular</v-icon>
                                        </v-tab>

                                        <v-tab
                                            href="#google"
                                            v-if="socialLoginEnabled"
                                        >
                                            Google
                                            <v-icon>$mdiGoogle</v-icon>
                                        </v-tab>

                                        <v-tab href="#credentials">
                                            Credentials
                                            <v-icon>mdiKeyVariant</v-icon>
                                        </v-tab>

                                        <v-tab href="#mail">
                                            Mail
                                            <v-icon>mdiEmailOutline</v-icon>
                                        </v-tab>

                                        <v-tab href="#contact">
                                            Contact
                                            <v-icon>mdiAccountBoxOutline</v-icon>
                                        </v-tab>

                                        <v-tab-item value="application">
                                            <application-settings
                                                :item="settings"
                                                :disabled="!editable"
                                            ></application-settings>
                                        </v-tab-item>

                                        <v-tab-item
                                            value="google"
                                            v-if="socialLoginEnabled"
                                        >
                                            <google-settings
                                                :item="settings"
                                                :disabled="!editable"
                                            ></google-settings>
                                        </v-tab-item>

                                        <v-tab-item value="credentials">
                                            <credential-settings
                                                :item="settings"
                                                :disabled="!editable"
                                            ></credential-settings>
                                        </v-tab-item>

                                        <v-tab-item value="mail">
                                            <mail-settings
                                                :item="settings"
                                                :disabled="!editable"
                                            ></mail-settings>
                                        </v-tab-item>

                                        <v-tab-item value="contact">
                                            <contact-settings
                                                :item="settings"
                                                :disabled="!editable"
                                            ></contact-settings>
                                        </v-tab-item>
                                    </v-tabs>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        color="success"
                                        :loading="updating"
                                        :disabled="!editable"
                                        @click="updateSettings"
                                    >
                                        Save
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-slide-y-transition>
            </v-flex>
        </v-layout>
        <v-layout
            v-else
            justify-center
            align-center
            column
        >
            <v-progress-circular
                :size="50"
                color="primary"
                indeterminate
            ></v-progress-circular>
        </v-layout>
    </v-container>
</template>
<script>
    import Application from './Tabs/Application';
    import Google from './Tabs/Google';
    import Contact from './Tabs/Contact';
    import Credentials from './Tabs/Credentials';
    import Mail from './Tabs/Mail';

    export default {
        data() {
            return {
                loading: true,
                updating: false,

                activeTab: 'application',
                settings: {},
            }
        },
        components: {
            ApplicationSettings: Application,
            GoogleSettings: Google,
            ContactSettings: Contact,
            CredentialSettings: Credentials,
            MailSettings: Mail
        },
        name: 'Settings',
        computed: {
            loggedInUser() {
                return this.$store.getters['auth/getUser'];
            },
            editable() {
                return !!(this.hasMinRole('admin') || !this.updating);
            },
            socialLoginEnabled() {
                return !!(typeof this.settings.application !== 'undefined' && typeof this.settings.application.social_login !== 'undefined' && this.settings.application.social_login);
            }
        },
        mounted() {
            this.determineTab();
            this.fetchData();

            this.setupWebsocket('settings', this.fetchData);
        },
        methods: {
            fetchData() {
                this.loading = true;

                window.axios.post('/settings/getAll', {})
                    .then((response) => {
                        this.settings = response.data.settings;
                        this.loading = false;
                    });
            },
            determineTab() {
                let url = new window.domurl;
                if (typeof url.query.tab !== 'undefined') {
                    this.activeTab = url.query.tab;
                }
                this.setTab();
            },
            setTab() {
                this.$store.dispatch('application/clearFilters');

                let url = new window.domurl;

                url.clearQuery();
                url.query.tab = this.activeTab;

                window.history.replaceState({path: url.toString()}, '', url.toString());
            },
            updateSettings() {
                this.updating = true;
                window.axios.post('/settings/updateAll', {settings: this.settings})
                    .then(response => {
                        this.$toasted.show("Settings updated", {
                            theme: "default",
                            position: "top-center",
                            duration: 1500
                        });
                        this.updating = false;
                    });
            },

            clearCache() {
                window.axios.post('/settings/clearCache').then(response => {
                    this.$toasted.show("Cache cleared", {
                        theme: "default",
                        position: "top-center",
                        duration: 1500
                    });
                });
            }
        }
    }
</script>
