<template>
    <v-container
        :fluid="!loading"
        :grid-list-lg="!loading"
        :fill-height="loading"
        :class="loading ? 'container-loading' : ''"
    >
        <v-layout wrap v-if="!loading">
            <v-flex xs12>
                <v-slide-y-transition mode="out-in">
                    <v-layout wrap>
                        <v-flex xs12 sm3>
                            <v-slide-y-transition mode="out-in">
                                <v-card color="white">
                                    <v-card-text>

                                        <div class="text-center" v-if="!uploading">
                                            <v-icon size="120">{{ getFileIcon(file) }}</v-icon>
                                        </div>

                                        <div class="text-center" v-else>
                                            <v-progress-circular
                                                size="120"
                                                :rotate="270"
                                                :value="uploadingProgress"
                                                color="primary"
                                                :indeterminate="uploadingProgress == 100"
                                            >
                                            </v-progress-circular>
                                        </div>

                                        <v-list two-line subheader>
                                            <v-list-item v-if="file.name">
                                                <v-list-item-content>
                                                    <v-list-item-title>Name:</v-list-item-title>
                                                    <v-list-item-title>{{ file.name }}.{{ file.extension }}
                                                    </v-list-item-title>
                                                </v-list-item-content>
                                            </v-list-item>

                                            <v-list-item v-if="file.mime">
                                                <v-list-item-content>
                                                    <v-list-item-title>Mime type:</v-list-item-title>
                                                    <v-list-item-subtitle>
                                                        {{ file.mime }}
                                                    </v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>

                                            <v-list-item v-if="file.size">
                                                <v-list-item-content>
                                                    <v-list-item-title>Size:</v-list-item-title>
                                                    <v-list-item-subtitle>
                                                        {{ humanFileSize(file.size) }}
                                                    </v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>

                                            <v-list-item>
                                                <v-list-item-content>
                                                    <v-list-item-title>Associations:</v-list-item-title>
                                                    <v-list-item-subtitle>
                                                        {{ file.associations_count }}
                                                    </v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>

                                        </v-list>

                                        <div class="text-center">

                                            <v-tooltip bottom v-if="file.viewable">
                                                <template v-slot:activator="{ on }">
                                                    <v-btn
                                                        v-on="on"
                                                        icon
                                                        text
                                                        small
                                                        color="warning"
                                                        :disabled="notEditable"
                                                        @click="handleView"
                                                    >
                                                        <v-icon>$mdiEye</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>View</span>
                                            </v-tooltip>

                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn
                                                        v-on="on"
                                                        icon
                                                        text
                                                        small
                                                        color="success"
                                                        :disabled="notEditable"
                                                        @click="handleDownload"
                                                    >
                                                        <v-icon>$mdiDownload</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>Download</span>
                                            </v-tooltip>

                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn
                                                        v-on="on"
                                                        icon
                                                        text
                                                        small
                                                        color="error"
                                                        :disabled="notEditable"
                                                        @click="handleDelete"
                                                    >
                                                        <v-icon>$mdiDelete</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>Delete</span>
                                            </v-tooltip>

                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn
                                                        v-on="on"
                                                        icon
                                                        text
                                                        small
                                                        color="purple"
                                                        dark
                                                        :disabled="notEditable"
                                                        @click="handleReplace"
                                                    >
                                                        <v-icon>$mdiFileReplaceOutline</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>Replace</span>
                                            </v-tooltip>
                                            <input
                                                class="hidden"
                                                ref="nodeFile"
                                                type="file"
                                                name="file"
                                                @change="detectFiles"
                                            />
                                        </div>

                                    </v-card-text>
                                </v-card>
                            </v-slide-y-transition>
                        </v-flex>
                        <v-flex xs12 sm9>
                            <v-slide-y-transition mode="out-in">
                                <v-card color="white">
                                    <v-card-text>
                                        <v-tabs
                                            v-model="activeTab"
                                            centered
                                            icons-and-text
                                            @change="setTab"
                                            mobile-break-point="320"
                                        >
                                            <v-tabs-slider color="primary"></v-tabs-slider>

                                            <v-tab href="#attributes" :disabled="notEditable">
                                                Attributes
                                                <v-icon>$mdiInformationOutline</v-icon>
                                            </v-tab>

                                            <v-tab href="#associations" :disabled="notEditable">
                                                Associations
                                                <v-icon>$mdiLinkVariant</v-icon>
                                            </v-tab>

                                            <v-tab-item value="attributes">
                                                <file-attributes
                                                    v-if="activeTab === 'attributes'"
                                                    :file="file"
                                                    :updating.sync="notEditable"
                                                    @update="doUpdate"
                                                ></file-attributes>
                                            </v-tab-item>

                                            <v-tab-item value="associations">
                                                <file-associations
                                                    v-if="activeTab === 'associations'"
                                                ></file-associations>
                                            </v-tab-item>
                                        </v-tabs>
                                    </v-card-text>
                                </v-card>
                            </v-slide-y-transition>
                        </v-flex>
                    </v-layout>
                </v-slide-y-transition>
            </v-flex>
        </v-layout>
        <v-layout v-else justify-center align-center column>
            <v-progress-circular
                :size="50"
                color="primary"
                indeterminate
            ></v-progress-circular>
        </v-layout>
        <v-confirm
            :dialog.sync="deleteDialog"
            :waiting.sync="deleteWaiting"
            @cancel="cancelDelete"
            @confirm="doDelete"
        ></v-confirm>
        <v-confirm
            icon="$mdiFileReplace"
            :dialog.sync="replaceDialog"
            :waiting.sync="replaceWaiting"
            @cancel="cancelReplace"
            @confirm="doReplace"
        ></v-confirm>
    </v-container>
</template>`
<script>
    import FileAttributes from './EditTabs/Attributes';
    import FileAssociations from './EditTabs/Associations';

    export default {
        data() {
            return {
                loading: true,
                updating: false,

                file: {},

                deleteDialog: false,
                deleteWaiting: false,

                replaceDialog: false,
                replaceWaiting: false,

                activeTab: 'attributes',

                uploading: false,
                uploadingProgress: 0,
            }
        },
        name: 'Edit-File',
        components: {
            FileAttributes,
            FileAssociations,
        },
        computed: {
            notEditable() {
                return (this.uploading || this.updating);
            }
        },
        watch: {
            '$route.params'(id) {
                this.getFile();
            },
        },
        mounted() {
            this.getFile();
        },
        methods: {
            determineTab() {
                let url = new window.domurl;
                if (typeof url.query.tab !== 'undefined') {
                    this.activeTab = url.query.tab;
                }
                this.setTab();
            },

            getFile() {
                this.loading = true;

                this.determineTab();

                window.axios.post('/files/get', {id: this.$route.params.fileId}).then(response => {
                    this.file = response.data.file;
                    this.loading = false;
                    this.waiting = false;
                });
            },

            setTab(firstTime) {
                this.$store.dispatch('application/clearFilters');

                let url = new window.domurl;

                if (this.activeTab === 'associations') {
                    if (firstTime !== true) {
                        for (let qParam in url.query) {
                            if (url.query.hasOwnProperty(qParam)) {
                                if (qParam !== 'tab') {
                                    delete url.query[qParam];
                                }
                            }
                        }
                    }

                    if (typeof url.query.page == 'undefined') {
                        url.query.page = 1;
                    }


                } else {
                    url.clearQuery();
                }

                url.query.tab = this.activeTab;

                window.history.replaceState({path: url.toString()}, '', url.toString());
            },

            cancelDelete() {
                this.deleteDialog = false;
                this.deleteWaiting = false;
            },
            handleDelete() {
                this.deleteDialog = true;
            },
            doDelete() {
                this.deleteWaiting = true;
                window.axios.post('/files/delete', {id: this.$route.params.fileId}).then(response => {
                    this.cancelDelete();
                    this.$router.push('/file-store');
                });
            },

            handleDownload() {
                window.open('/files/download/' + this.$route.params.fileId, "_blank");
            },
            handleView() {
                window.open('/files/preview/' + this.$route.params.fileId, "_blank");
            },

            doUpdate(file) {
                this.updating = true;
                window.axios.post('/files/update', {
                    id: file.id,
                    metadata: file.metadata
                }).then(response => {
                    this.file = response.data.file;

                    this.$toasted.show("Update successful", {
                        theme: "default",
                        position: "top-center",
                        duration: 1500
                    });

                    this.updating = false;
                });
            },

            handleReplace() {
                this.replaceDialog = true;
            },
            cancelReplace() {
                this.replaceDialog = false;
                this.replaceWaiting = false;
            },
            doReplace() {
                this.$refs.nodeFile.click();
            },
            detectFiles(e) {
                e.preventDefault();
                let fileList = e.target.files || e.dataTransfer.files;
                for (let i = 0, len = fileList.length; i < len; i++) {
                    this.uploadObject(fileList[i]);
                }
            },
            uploadObject(object) {
                this.cancelReplace();

                if (typeof object !== 'undefined') {
                    this.uploading = true;

                    let data = new FormData();

                    let caption = '';
                    let copyright = '';
                    let tags = [];

                    if (typeof this.file.metadata.caption !== 'undefined') {
                        caption = this.file.metadata.caption;
                    }

                    if (typeof this.file.metadata.copyright !== 'undefined') {
                        copyright = this.file.metadata.copyright;
                    }

                    if (typeof this.file.metadata.tags !== 'undefined') {
                        tags = this.file.metadata.tags;
                    }

                    data.append('id', this.$route.params.fileId);
                    data.append('caption', caption);
                    data.append('copyright', copyright);
                    data.append('tags', tags);
                    data.append('role', 'files');
                    data.append('files', object, object.name);

                    window.axios.post('/files/replace', data, {
                        errorHandle: true,
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                        onUploadProgress: (progressEvent) => {
                            this.uploadingProgress = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                        }
                    }).then(response => {

                        this.uploadingProgress = 0;
                        this.uploading = false;
                        this.file = response.data.file;

                    }).catch(error => {
                        let message = "Whoops! Something went wrong";

                        if (error.response.status === 413) {
                            message = "Whoops! Image size is too large";
                        }

                        this.$toasted.show(message, {
                            theme: "error",
                            position: "top-center",
                            duration: 3500
                        });

                        this.uploadingProgress = 0;
                        this.uploading = false;
                    });
                }
            },
        },
    }
</script>
