<template>
    <v-container
        :fluid="!loading"
        :grid-list-lg="!loading"
        :fill-height="loading"
        :class="loading ? 'container-loading' : ''"
    >
        <v-layout
            wrap
            align-center
            justify-center
            v-if="!loading"
        >
            <v-flex xs12 md6>
                <v-upload
                    url="/files/upload"
                    accept="*"
                    role="files"
                    fileType="file"
                    @uploaded="uploadedFile"
                    @error="alertError"
                    multiple
                >
                    Drag your file<br> or click to browse
                </v-upload>
            </v-flex>
            <v-flex xs12>
                <v-slide-y-transition mode="out-in">
                    <v-node-table
                        :single-item-name="'file'"
                        :plural-item-name="'files'"
                        :headers="[
                            {text: '', value: '', align: 'center', sortable: false},
                            {text: 'Name', value: 'name', align: 'center'},
                            {text: 'Size', value: 'size', align: 'center'},
                            {text: 'Extension', value: 'extension', align: 'center'},
                            {text: 'Associations', value: 'associations', align: 'center'},
                            {text: 'Public', value: 'public', align: 'center'},
                            {text: 'Details', value: 'details', align: 'center'},
                            {text: 'Actions', value: 'actions', align: 'center', sortable: false},
                        ]"
                        :force-refresh.sync="forceRefresh"
                    >
                        <template slot="row" slot-scope="props">
                            <tr class="text-center">
                                <td>
                                    <v-icon size="30">{{ getFileIcon(props.item) }}</v-icon>
                                </td>
                                <td>
                                    {{ props.item.basename }}
                                </td>
                                <td>
                                    {{ humanFileSize(props.item.size) }}
                                </td>
                                <td>
                                    {{ props.item.extension }}
                                </td>
                                <td>
                                    {{ props.item.associations_count }}
                                </td>
                                <td>
                                    <template v-if="props.item.public">
                                        <v-icon color="success">
                                            $mdiCheckDecagram
                                        </v-icon>
                                    </template>
                                    <template v-else>
                                        <v-icon color="error">
                                            $mdiCloseCircle
                                        </v-icon>
                                    </template>
                                </td>
                                <td>
                                    Uploaded at: {{ props.item.created_at|date }} <br>
                                    {{ props.item.created_at|fromNow }}
                                </td>
                                <td>
                                    <v-tooltip bottom v-if="props.item.viewable">
                                        <template v-slot:activator="{ on }">
                                            <v-btn
                                                v-on="on"
                                                icon
                                                text
                                                small
                                                color="warning"
                                                @click="handleViewFile(props.item)"
                                            >
                                                <v-icon>$mdiEye</v-icon>
                                            </v-btn>
                                        </template>
                                        <span>View</span>
                                    </v-tooltip>

                                    <v-tooltip bottom v-else>
                                        <template v-slot:activator="{ on }">
                                            <v-btn
                                                v-on="on"
                                                icon
                                                text
                                                small
                                                color="success"
                                                @click="handleDownloadFile(props.item)"
                                            >
                                                <v-icon>$mdiDownload</v-icon>
                                            </v-btn>
                                        </template>
                                        <span>Download</span>
                                    </v-tooltip>

                                    <v-tooltip bottom>
                                        <template v-slot:activator="{ on }">
                                            <v-btn
                                                v-on="on"
                                                icon
                                                text
                                                small
                                                color="primary"
                                                @click="handleEditFile(props.item)"
                                            >
                                                <v-icon>$mdiPencil</v-icon>
                                            </v-btn>
                                        </template>
                                        <span>Edit</span>
                                    </v-tooltip>

                                    <v-tooltip bottom>
                                        <template v-slot:activator="{ on }">
                                            <v-btn
                                                v-on="on"
                                                icon
                                                text
                                                small
                                                color="error"
                                                @click="handleDeleteFile(props.item)"
                                            >
                                                <v-icon>$mdiDelete</v-icon>
                                            </v-btn>
                                        </template>
                                        <span>Delete</span>
                                    </v-tooltip>
                                </td>
                            </tr>
                        </template>
                    </v-node-table>
                </v-slide-y-transition>
            </v-flex>
        </v-layout>
        <v-layout v-else justify-center align-center column>
            <v-progress-circular
                :size="50"
                color="primary"
                indeterminate
            ></v-progress-circular>
        </v-layout>
        <v-confirm
            :dialog.sync="deleteDialog"
            :waiting.sync="deleteWaiting"
            @cancel="cancelDelete"
            @confirm="doDeleteFile"
        ></v-confirm>
    </v-container>
</template>
<script>
    export default {
        data() {
            return {
                loading: true,

                deleteFile: null,
                deleteDialog: false,
                deleteWaiting: false,

                forceRefresh: false,
            }
        },
        components: {},
        name: 'File-Store',
        computed: {
            loggedInUser() {
                return this.$store.getters['auth/getUser'];
            },
            editable() {
                return !!(this.hasMinRole('admin'));
            },
        },
        mounted() {
            this.loading = false;
        },
        methods: {
            handleViewFile(item) {
                window.open('/files/preview/' + item.id, "_blank");
            },

            handleEditFile(item) {
                this.$router.push('/file-store/edit/' + item.id);
            },

            handleDownloadFile(item) {
                window.open('/files/download/' + item.id, "_blank");
            },

            uploadedFile() {
                this.forceRefresh = !this.forceRefresh;
                this.$toasted.show('File uploaded!', {
                    theme: "default",
                    position: "top-center",
                    duration: 2000
                });
            },
            alertError(message) {
                this.$toasted.show(message, {
                    theme: "error",
                    position: "top-center",
                    duration: 3500
                });
            },

            handleDeleteFile(item) {
                this.deleteFile = item;
                this.deleteDialog = true;
            },
            cancelDelete() {
                this.deleteFile = null;
                this.deleteWaiting = false;
                this.deleteDialog = false;
            },
            doDeleteFile() {
                this.deleteWaiting = true;
                window.axios.post('/files/delete', {
                    id: this.deleteFile.id,
                }).then(response => {
                    this.forceRefresh = !this.forceRefresh;
                    this.cancelDelete();
                    this.$toasted.show("File deleted", {
                        theme: "default",
                        position: "top-center",
                        duration: 1500
                    });
                });
            },

        }
    }
</script>
