html {
    overflow-y: auto;
}

html[data-overflow-hidden] {
    overflow-x: hidden;
    overflow-y: hidden;
}

.application {
  background: #fff !important;
}

.hidden {
  display: none !important;
}

.sub-caption {
  font-size: 8px;
  top: -8px;
}

@media only screen and (max-width: 1379px) {
  .v-toolbar__content {
    button {
      display: inline-flex !important;
    }
  }
}

.pointer {
  cursor: pointer;
}

.container-loading {
  max-height: calc(100% - 106px) !important;
}

.container-loader {
  margin-top: -176px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.center-switch {
  .v-input__control {
    margin: 0 auto;
  }
}

.v-post-editor {
  .ck-content {
    max-height: calc(100vh - 353px);
  }
}

.post-edit-panel {
  max-height: calc(100vh - 230px);
  overflow-y: auto;
}

.menu-date-clear {
  line-height: 19px !important;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    background-color: #1976d2;
}
