.v-gallery {
  position: relative;
}

.v-gallery:hover .v-gallery-actions {
  display: block;
}

.v-gallery-actions {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  display: none;
}