.image-editor-card {
  background-color: #333 !important;

  .image-editor-toolbar {
    width: 450px;
    text-align: center;
    bottom: 20px;
    left: 50%;
    margin-left: -225px;
    position: absolute;
    z-index: 2015;

    .v-btn-toggle {
      .v-btn {
        opacity: 1 !important;
      }

      .v-btn--active:before {
        background-color: transparent !important;
      }
    }
  }

  .image-editor-content {
    height: calc(100vh - 64px);

    .editor {
      height: 100%;
    }

    .canvas {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;

      & > img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}
