.notification-card {
    &-avatar {
        display: flex;
        align-self: flex-start;
        padding-top: 5px;
        justify-content: flex-start;
        width: 40px;
    }

    &-content {
        width: calc(284px - 93px);
    }

    &-action {
        display: flex;
        align-self: flex-start;
        justify-content: flex-end;
        width: 35px;
        align-items: center;

        .v-btn {
            margin: 0 !important;
        }
    }
}
