.searching {
  overflow: hidden;
  width: 300px;
  padding-left: 8px;
  transition: 0.3s cubic-bezier(.25, .8, .50, 1);
}

.searching--closed {
  padding-left: 0;
  width: 0;
}

.searching > * {
  right: 8px;
}

.searching--closed > * {
  display: none;
}