.v-thumbnail {
  position: relative;

  .v-thumbnail-avatar {
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: auto;

    img {
      border-radius: 50%;
    }
  }

  .v-thumbnail-actions {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    display: none;
  }
}

.v-thumbnail:hover .v-thumbnail-actions {
  display: block;
}