.toasted.default {
  font-family: "Roboto", sans-serif;
  border-radius: 2px;
  min-height: 38px;
  line-height: 1.1em;
  background-color: #353535;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}