<template>
    <v-card
        flat
        class="mt-2"
        v-if="!loading"
    >
        <v-card-text class="mb-1">
            <v-layout wrap>
                <v-flex
                    xs12
                    sm12
                >
                    <v-text-field
                        v-model="settings.application.name"
                        label="Name"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>

                <v-flex
                    xs12
                    sm3
                    class="text-center"
                >
                    <label class="caption grey--text">
                        Production
                    </label>
                    <v-switch
                        class="mt-0 center-switch"
                        v-model="settings.application.production"
                        color="primary"
                        hide-details
                        :disabled="disabled"
                    ></v-switch>
                </v-flex>
                <v-flex
                    xs12
                    sm3
                    class="text-center"
                >
                    <label class="caption grey--text">
                        Debug
                    </label>
                    <v-switch
                        class="mt-0 center-switch"
                        v-model="settings.application.debug"
                        color="primary"
                        hide-details
                        :disabled="disabled"
                    ></v-switch>
                </v-flex>
                <v-flex
                    xs12
                    sm3
                    class="text-center"
                >
                    <label class="caption grey--text">
                        Email exceptions
                    </label>
                    <v-switch
                        class="mt-0 center-switch"
                        v-model="settings.application.mail_debug"
                        color="primary"
                        hide-details
                        :disabled="disabled"
                    ></v-switch>
                </v-flex>

                <v-flex
                    xs12
                    sm3
                    class="text-center"
                >
                    <label class="caption grey--text">
                        Jobs enabled
                    </label>
                    <v-switch
                        class="mt-0 center-switch"
                        v-model="settings.application.jobs_enabled"
                        color="primary"
                        hide-details
                        :disabled="disabled"
                    ></v-switch>
                </v-flex>
                <v-flex
                    xs12
                    sm3
                    class="text-center"
                >
                    <label class="caption grey--text">
                        Debug bar enabled
                    </label>
                    <v-switch
                        class="mt-0 center-switch"
                        v-model="settings.application.debugbar"
                        color="primary"
                        hide-details
                        :disabled="disabled"
                    ></v-switch>
                </v-flex>
                <v-flex
                    xs12
                    sm3
                    class="text-center"
                >
                    <label class="caption grey--text">
                        Email verification
                    </label>
                    <v-switch
                        class="mt-0 center-switch"
                        v-model="settings.application.email_verification"
                        color="primary"
                        hide-details
                        :disabled="disabled"
                    ></v-switch>
                </v-flex>
                <v-flex
                    xs12
                    sm3
                    class="text-center"
                >
                    <label class="caption grey--text">
                        Registration allowed
                    </label>
                    <v-switch
                        class="mt-0 center-switch"
                        v-model="settings.application.register"
                        color="primary"
                        hide-details
                        :disabled="disabled"
                    ></v-switch>
                </v-flex>
                <v-flex
                    xs12
                    sm3
                    class="text-center"
                >
                    <label class="caption grey--text">
                        Google login allowed
                    </label>
                    <v-switch
                        class="mt-0 center-switch"
                        v-model="settings.application.social_login"
                        color="primary"
                        hide-details
                        :disabled="disabled"
                    ></v-switch>
                </v-flex>

                <v-flex
                    xs12
                    sm6
                >
                    <v-single-image-by-role
                        :images="settings.images"
                        :model-id="2"
                        model="setting"
                        role="favicon"
                        :changeable="!disabled"
                        :disabled.sync="disabled"

                        accept="image/jpeg, image/png"
                        ratio="1:1"
                        title="Favicon"
                        width="1024"
                        height="1024"
                    ></v-single-image-by-role>

                    <div>
                        <label class="caption grey--text">
                            Use favicon as application icon
                        </label>
                        <v-switch
                            class="mt-0 center-switch"
                            v-model="settings.media.useFaviconAsAppIcon"
                            color="primary"
                            hide-details
                            :disabled="disabled"
                        ></v-switch>
                    </div>

                    <div v-if="!settings.media.useFaviconAsAppIcon">
                        <div class="mb-3">
                            <v-text-field
                                v-model="settings.media.appIcon"
                                label="Icon name"
                                hint="For all available icons please check: https://materialdesignicons.com/"
                                persistent-hint
                                type="text"
                                :disabled="disabled"
                            ></v-text-field>
                        </div>
                        <div>
                            <label class="caption grey--text text--darken-4">
                                Icon color
                            </label>
                            <v-color-picker
                                class="mt-3 mx-auto"
                                v-model="settings.media.appIconColor"
                                hide-inputs
                                :disabled="disabled"
                            ></v-color-picker>
                        </div>
                    </div>
                </v-flex>

                <v-flex
                    xs12
                    sm6
                >
                    <v-single-image-by-role
                        :images="settings.images"
                        :model-id="2"
                        model="setting"
                        role="logo"
                        :cropper="false"
                        :changeable="!disabled"
                        :disabled.sync="disabled"

                        accept="image/jpeg, image/png"
                        ratio="1:1"
                        title="Logo"
                        width="1024"
                        height="1024"
                    ></v-single-image-by-role>
                </v-flex>

            </v-layout>
        </v-card-text>
    </v-card>
</template>
<script>
    export default {
        data() {
            return {
                loading: true,
                settings: {},
            }
        },
        props: ['item', 'disabled'],
        name: 'Application-Settings',
        mounted() {
            this.settings = this.item;
            setTimeout(() => {
                this.loading = false;
            }, 100);
        },
    }
</script>
