<template>
    <v-card
        flat
        class="mt-2"
        v-if="!loading"
    >
        <v-card-text class="mb-1">
            <v-layout wrap>
                <v-flex xs12>
                    <v-expansion-panels
                        v-model="locationPanel"
                        popout
                    >
                        <v-expansion-panel
                            v-for="(location,i) in settings.contact.locations"
                            :key="i"
                        >
                            <v-expansion-panel-header>
                                <span v-if="location.name">
                                    {{ location.name }}
                                </span>
                                <span v-else>
                                    Location #{{ i + 1 }}
                                </span>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <v-card flat>
                                    <v-card-text>
                                        <v-text-field
                                            v-model="location.name"
                                            label="Name"
                                            type="text"
                                            :disabled="disabled"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="location.email"
                                            label="Email"
                                            type="email"
                                            :disabled="disabled"
                                        ></v-text-field>

                                        <v-combobox
                                            v-model="location.cellphone"
                                            label="Cellphone numbers"
                                            multiple
                                            chips
                                            deletable-chips
                                            append-icon=""
                                            :disabled="disabled"
                                        ></v-combobox>

                                        <v-combobox
                                            v-model="location.telephone"
                                            label="Telephone numbers"
                                            multiple
                                            chips
                                            deletable-chips
                                            append-icon=""
                                            :disabled="disabled"
                                        ></v-combobox>

                                        <v-combobox
                                            v-model="location.fax"
                                            label="Fax numbers"
                                            multiple
                                            chips
                                            deletable-chips
                                            append-icon=""
                                            :disabled="disabled"
                                        ></v-combobox>

                                        <v-text-field
                                            v-model="location.address"
                                            label="Address"
                                            type="text"
                                            :disabled="disabled"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="location.city"
                                            label="City"
                                            type="text"
                                            :disabled="disabled"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="location.country"
                                            label="Country"
                                            type="text"
                                            :disabled="disabled"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="location.postal_code"
                                            label="Postal code"
                                            type="text"
                                            :disabled="disabled"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="location.website"
                                            label="Website"
                                            type="text"
                                            :disabled="disabled"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="location.longitude"
                                            label="Longitude"
                                            type="text"
                                            :disabled="disabled"
                                        ></v-text-field>

                                        <v-text-field
                                            v-model="location.latitude"
                                            label="Latitude"
                                            type="text"
                                            :disabled="disabled"
                                        ></v-text-field>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                            v-if="!disabled && settings.contact.locations.length > 1"
                                            color="error"
                                            @click="handleDeleteLocation(i)"
                                        >
                                            Delete
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </v-flex>
                <v-flex
                    xs12
                    class="text-center"
                >
                    <v-btn
                        color="primary"
                        @click="addLocation"
                    >
                        Add location
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-card-text>
        <v-confirm
            :dialog.sync="deleteDialog"
            :waiting.sync="deleteWaiting"
            @cancel="cancelDelete"
            @confirm="doDelete"
        ></v-confirm>

    </v-card>
</template>
<script>
    export default {
        data() {
            return {
                loading: true,
                settings: {},

                deleteDialog: false,
                deleteWaiting: false,

                selectedLocation: null,
                locationPanel: 0,
                location: {
                    name: '',
                    email: '',
                    cellphone: [],
                    telephone: [],
                    fax: [],
                    address: '',
                    city: '',
                    country: '',
                    postal_code: '',
                    website: '',
                    longitude: '',
                    latitude: '',
                },
            }
        },
        props: ['item', 'disabled'],
        name: 'Contact-Settings',
        mounted() {
            this.settings = this.item;
            setTimeout(() => {
                this.loading = false;
            }, 100);
        },

        methods: {
            addLocation() {
                this.settings.contact.locations.push(Object.assign({}, this.location));
                this.locationPanel = this.settings.contact.locations.length - 1;
            },

            handleDeleteLocation(index) {
                this.selectedLocation = index;
                this.deleteDialog = true;
            },
            cancelDelete() {
                this.selectedLocation = null;
                this.deleteDialog = false;
                this.deleteWaiting = false;
            },
            doDelete() {
                this.deleteWaiting = true;
                this.settings.contact.locations.splice(this.selectedLocation, 1);
                this.locationPanel = this.settings.contact.locations.length - 1;
                this.cancelDelete();
            }
        },
    }
</script>
