<template>
    <v-card
        flat
        class="mt-2"
        v-if="!loading"
    >
        <v-card-text class="mb-1">
            <v-layout wrap>
                <v-flex
                    xs12
                    sm12
                >
                    <v-text-field
                        v-model="settings.credentials.facebook"
                        label="Facebook"
                        prefix="https://www.facebook.com/"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>

                <v-flex
                    xs12
                    sm12
                >
                    <v-text-field
                        v-model="settings.credentials.instagram"
                        label="Instagram"
                        prefix="https://www.instagram.com/"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>

                <v-flex
                    xs12
                    sm12
                >
                    <v-text-field
                        v-model="settings.credentials.pinterest"
                        label="Pinterest"
                        prefix="https://www.pinterest.com/"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>

                <v-flex
                    xs12
                    sm12
                >
                    <v-text-field
                        v-model="settings.credentials.twitter"
                        label="Twitter"
                        prefix="https://www.twitter.com/"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>

                <v-flex
                    xs12
                    sm12
                >
                    <v-text-field
                        v-model="settings.credentials.linkedin"
                        label="LinkedIn"
                        prefix="https://www.linkedin.com/"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>

                <v-flex
                    xs12
                    sm12
                >
                    <v-text-field
                        v-model="settings.credentials.youtube"
                        label="Youtube"
                        prefix="https://www.youtube.com/"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>

                <v-flex
                    xs12
                    sm12
                >
                    <v-text-field
                        v-model="settings.credentials.google_analytics"
                        label="Google Analytics"
                        placeholder="eg. UA-91494344-1"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>
            </v-layout>
        </v-card-text>
    </v-card>
</template>
<script>
    export default {
        data() {
            return {
                loading: true,
                settings: {},
            }
        },
        props: ['item', 'disabled'],
        name: 'Credential-Settings',
        mounted() {
            this.settings = this.item;
            setTimeout(() => {
                this.loading = false;
            }, 100);
        }
    }
</script>
