<template>
    <v-card
        flat
        class="mt-2"
        v-if="!loading"
    >
        <v-card-text class="mb-1">
            <v-layout wrap>
                <v-flex
                    xs12
                    sm12
                >
                    <v-text-field
                        v-model="settings.google.id"
                        label="App ID"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>
                <v-flex
                    xs12
                    sm12
                >
                    <v-text-field
                        v-model="settings.google.secret"
                        label="App Secret"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>
                <v-flex
                    xs12
                    sm12
                >
                    <v-text-field
                        v-model="settings.google.redirect_url"
                        label="Redirect Url"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>
            </v-layout>
        </v-card-text>
    </v-card>
</template>
<script>
    export default {
        data() {
            return {
                loading: true,
                settings: {},
            }
        },
        props: ['item', 'disabled'],
        name: 'Google-Settings',
        mounted() {
            this.settings = this.item;
            setTimeout(() => {
                this.loading = false;
            }, 100);
        }
    }
</script>
