<template>
    <v-card
        flat
        class="mt-2"
        v-if="!loading"
    >
        <v-card-text class="mb-1">
            <v-layout wrap>
                <v-flex xs12>
                    <v-text-field
                        v-model="settings.mail.from_name"
                        label="Mail from name"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        v-model="settings.mail.from_email"
                        label="Mail from email"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        v-model="settings.mail.email"
                        label="Application email"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        v-model="settings.mail.support_email"
                        label="Support email"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>

                <v-flex xs12>
                    <h3 class="headline">Theme options:</h3>
                </v-flex>

                <v-flex xs12 sm6 class="text-center">
                    <label class="caption grey--text">
                        Show header
                    </label>
                    <v-switch
                        class="mt-0 mb-3 center-switch"
                        v-model="settings.emails.headerShow"
                        :label="settings.emails.headerShow ? 'Yes' : 'No'"
                        color="primary"
                        hide-details
                        :disabled="disabled"
                    ></v-switch>
                </v-flex>

                <v-flex xs12 sm6 class="text-center">
                    <label class="caption grey--text">
                        Header image fullwidth
                    </label>
                    <v-switch
                        class="mt-0 mb-3 center-switch"
                        v-model="settings.emails.headerImgFullWidth"
                        :label="settings.emails.headerImgFullWidth ? 'Yes' : 'No'"
                        color="primary"
                        hide-details
                        :disabled="disabled"
                    ></v-switch>
                </v-flex>

                <v-flex xs12 sm6>
                    <label class="caption grey--text text--darken-4">
                        Email background color
                    </label>
                    <v-color-picker
                        class="mt-3 mx-auto"
                        v-model="settings.emails.emailBackgroundColor"
                        hide-inputs
                        :disabled="disabled"
                    ></v-color-picker>
                </v-flex>

                <v-flex xs12 sm6 class="text-center">
                    <label class="caption grey--text text--darken-4">
                        Content background color
                    </label>
                    <v-color-picker
                        class="mt-3 mx-auto"
                        v-model="settings.emails.emailElementBackgroundColor"
                        hide-inputs
                        :disabled="disabled"
                    ></v-color-picker>
                </v-flex>

                <v-flex xs12 sm6 class="text-center">
                    <label class="caption grey--text text--darken-4">
                        Heading color
                    </label>
                    <v-color-picker
                        class="mt-3 mx-auto"
                        v-model="settings.emails.headingColor"
                        hide-inputs
                        :disabled="disabled"
                    ></v-color-picker>
                </v-flex>

                <v-flex xs12 sm6 class="text-center">
                    <label class="caption grey--text text--darken-4">
                        Text color
                    </label>
                    <v-color-picker
                        class="mt-3 mx-auto"
                        v-model="settings.emails.textColor"
                        hide-inputs
                        :disabled="disabled"
                    ></v-color-picker>
                </v-flex>

                <v-flex xs12 sm4 class="text-center">
                    <label class="caption grey--text text--darken-4">
                        Button color
                    </label>
                    <v-color-picker
                        class="mt-3 mx-auto"
                        v-model="settings.emails.buttonColor"
                        hide-inputs
                        :disabled="disabled"
                    ></v-color-picker>
                </v-flex>

                <v-flex xs12 sm4 class="text-center">
                    <label class="caption grey--text text--darken-4">
                        Button hover color
                    </label>
                    <v-color-picker
                        class="mt-3 mx-auto"
                        v-model="settings.emails.buttonHoverColor"
                        hide-inputs
                        :disabled="disabled"
                    ></v-color-picker>
                </v-flex>

                <v-flex xs12 sm4 class="text-center">
                    <label class="caption grey--text text--darken-4">
                        Button text color
                    </label>
                    <v-color-picker
                        class="mt-3 mx-auto"
                        v-model="settings.emails.buttonTextColor"
                        hide-inputs
                        :disabled="disabled"
                    ></v-color-picker>
                </v-flex>

                <v-flex xs12>
                    <h3 class="headline mt-3">Footer options:</h3>
                </v-flex>

                <v-flex xs12 class="text-center">
                    <v-text-field
                        v-model="settings.emails.company.name"
                        label="Company name"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>

                <v-flex xs12 class="text-center">
                    <v-text-field
                        v-model="settings.emails.company.address"
                        label="Company address"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>

                <v-flex xs12 class="text-center">
                    <v-text-field
                        v-model="settings.emails.company.telephone"
                        label="Company contact number"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>

                <v-flex xs12 class="text-center">
                    <v-text-field
                        v-model="settings.emails.company.website"
                        label="Company website"
                        type="text"
                        :disabled="disabled"
                    ></v-text-field>
                </v-flex>

            </v-layout>
        </v-card-text>
    </v-card>
</template>
<script>
    export default {
        data() {
            return {
                loading: true,
                settings: {},
            }
        },
        props: ['item', 'disabled'],
        name: 'Mail-Settings',
        mounted() {
            this.settings = this.item;
            setTimeout(() => {
                this.loading = false;
            }, 100);
        }
    }
</script>
