<template>
    <v-node-table
            data-url="/users/deletedPaginated"
            :single-item-name="'user'"
            :plural-item-name="'users'"
            :headers="[
                {text: '', value: '', sortable: false, align: 'center'},
                {text: 'First name', value: 'first_name', align: 'center'},
                {text: 'Last name', value: 'last_name', align: 'center'},
                {text: 'Email', value: 'email', align: 'center'},
                {text: 'Details', value: 'details', align: 'center', sortable: false},
                {text: 'Actions', value: 'details', align: 'center', sortable: false}
            ]"
            :force-refresh.sync="forceRefresh"
    >
        <template slot="row" slot-scope="props">
            <tr class="pointer text-xs-center">
                <td @click="editItem(props.item)">
                    <v-thumbnail
                        :thumbnail="props.item.thumbnail"
                        width="30"
                        height="30"
                    ></v-thumbnail>
                </td>
                <td @click="editItem(props.item)">
                    {{ props.item.first_name }}
                </td>
                <td @click="editItem(props.item)">
                    {{ props.item.last_name }}
                </td>
                <td @click="editItem(props.item)">
                    {{ props.item.email }}
                </td>
                <td @click="editItem(props.item)">
                    Deleted at: {{ props.item.deleted_at|date }} <br>
                    {{ props.item.deleted_at|fromNow }}
                </td>
                <td>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                            <v-btn text icon small v-on="on" color="primary"
                                   class="ma-0"
                                   @click="restore(props.item)"
                                   :disabled="!hasPermission"
                            >
                                <v-icon>$mdiRestore</v-icon>
                            </v-btn>
                        </template>
                        <span>Restore</span>
                    </v-tooltip>
                </td>
            </tr>
        </template>
        <template slot="additional-buttons">
            <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                    <v-btn icon dark v-on="on"
                           @click="viewActive"
                    >
                        <v-icon>$mdiAccountSupervisor</v-icon>
                    </v-btn>
                </template>
                <span>View active users</span>
            </v-tooltip>
        </template>
    </v-node-table>
</template>
<script>
    export default {
        data() {
            return {
                forceRefresh: false,
            }
        },
        name: 'Deleted-Users-Index',
        mounted() {
        },
        watch: {},
        computed: {
            hasPermission() {
                return this.hasMinRole('admin');
            },
        },
        methods: {
            editItem(item) {
                this.$router.push('/users/edit/' + item.id);
            },

            restore(user) {
                window.axios.post('/users/restore', {id: user.id}).then(response => {
                    this.$toasted.show('User restored!', {
                        theme: "default",
                        position: "top-center",
                        duration: 1500
                    });
                    this.forceRefresh = !this.forceRefresh;
                });
            },

            viewActive() {
                this.$router.push('/users');
            }
        },
    }
</script>
