<template>
    <v-container
        :fluid="!loading"
        :grid-list-lg="!loading"
        :fill-height="loading"
        :class="loading ? 'container-loading' : ''"
    >
        <v-layout wrap v-if="!loading">
            <v-flex xs12>
                <v-slide-y-transition mode="out-in">
                    <v-layout wrap>
                        <v-flex xs12 sm3>
                            <v-slide-y-transition mode="out-in">
                                <v-card color="white">
                                    <v-card-text>
                                        <v-thumbnail-editor
                                            :thumbnail="user.thumbnail"
                                            :model-id="user.id"
                                            model="user"
                                            accept="image/jpeg, image/png"
                                            :viewMode="1"
                                            :changeable="editable"
                                            :disabled.sync="waiting"
                                        ></v-thumbnail-editor>

                                        <v-list two-line subheader>
                                            <v-list-item v-if="user.first_name">
                                                <v-list-item-content>
                                                    <v-list-item-title>First name</v-list-item-title>
                                                    <v-list-item-subtitle>
                                                        {{ user.first_name }}
                                                    </v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>

                                            <v-list-item v-if="user.last_name">
                                                <v-list-item-content>
                                                    <v-list-item-title>Last name</v-list-item-title>
                                                    <v-list-item-subtitle>
                                                        {{ user.last_name }}
                                                    </v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>

                                            <v-list-item>
                                                <v-list-item-content>
                                                    <v-list-item-title>Email</v-list-item-title>
                                                    <v-list-item-subtitle>
                                                        {{ user.email }}
                                                    </v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>

                                            <v-list-item v-if="user.details.birth_date">
                                                <v-list-item-content>
                                                    <v-list-item-title>Date of birth</v-list-item-title>
                                                    <v-list-item-subtitle>
                                                        {{ user.details.birth_date }}
                                                    </v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>

                                        </v-list>

                                        <div class="text-center" v-if="!isDeleted">
                                            <v-btn
                                                    color="primary"
                                                    @click="sendPasswordResetEmail"
                                                    :disabled="!editable || waiting || !hasMinRole('admin')"
                                            >
                                                Reset password
                                            </v-btn>
                                        </div>

                                    </v-card-text>
                                </v-card>
                            </v-slide-y-transition>
                        </v-flex>
                        <v-flex xs12 sm9>
                            <v-slide-y-transition mode="out-in">
                                <v-card color="white">
                                    <v-card-text>
                                        <v-tabs
                                                v-model="activeTab"
                                                centered
                                                icons-and-text
                                                @change="setTab"
                                                mobile-break-point="320"
                                        >
                                            <v-tabs-slider color="primary"></v-tabs-slider>

                                            <v-tab href="#info" :disabled="waiting">
                                                Information
                                                <v-icon>$mdiInformationOutline</v-icon>
                                            </v-tab>

                                            <v-tab href="#media" :disabled="waiting">
                                                Media
                                                <v-icon>$mdiFolderMultipleImage</v-icon>
                                            </v-tab>

                                            <v-tab-item value="info">
                                                <user-info
                                                        v-if="activeTab === 'info'"
                                                        :item-info="user"
                                                        :waiting.sync="waiting"
                                                        @update="updateItem"
                                                        @updating="updateWaiting"
                                                >
                                                </user-info>
                                            </v-tab-item>

                                            <v-tab-item value="media">
                                                <user-media
                                                    v-if="activeTab === 'media'"
                                                    :item-info="user"
                                                    :waiting.sync="waiting"
                                                    @update="getUser"
                                                >
                                                </user-media>
                                            </v-tab-item>
                                        </v-tabs>
                                    </v-card-text>
                                </v-card>
                            </v-slide-y-transition>
                        </v-flex>
                    </v-layout>
                </v-slide-y-transition>
            </v-flex>
        </v-layout>
        <v-layout v-else justify-center align-center column>
            <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
            ></v-progress-circular>
        </v-layout>
    </v-container>
</template>
<script>
    import UserInfo from './EditTabs/Info';
    import UserMedia from './EditTabs/Media';

    export default {
        data() {
            return {
                loading: true,
                waiting: true,
                user: {},

                activeTab: 'info',
            }
        },
        components: {
            UserInfo,
            UserMedia,
        },
        name: 'Edit-User',
        computed: {
            loggedInUser() {
                return this.$store.getters['auth/getUser'];
            },
            userId() {
                if (this.$route.params.userId) {
                    return parseInt(this.$route.params.userId);
                } else {
                    return this.loggedInUser.id;
                }
            },
            editable() {
                return !!(this.loggedInUser.id == parseInt(this.userId) || this.hasMinRole('admin') || this.hasRole('hr-manager'));
            },
            deletable() {
                return !!(this.loggedInUser.id !== parseInt(this.userId));
            },
            isDeleted() {
                return !!(this.user.deleted_at !== null);
            }
        },
        mounted() {
            this.getUser();
        },
        watch: {
            '$route.params'(id) {
                this.loading = true;
                this.cleanUrl().then(response => {
                    this.getUser();
                });
            },
        },
        methods: {
            determineTab() {
                let url = new window.domurl;
                if (typeof url.query.tab !== 'undefined') {
                    this.activeTab = url.query.tab;
                }
                this.setTab();
            },
            getUser() {
                if (typeof this.userId == 'undefined') {
                    setTimeout(() => {
                        this.getUser();
                    }, 100);
                } else {
                    this.determineTab();

                    window.axios.post('/users/get', {id: this.userId}).then(response => {
                        this.user = response.data.user;
                        this.loading = false;
                        this.waiting = false;
                    });
                }
            },
            cleanUrl() {
                return new Promise((resolve, reject) => {
                    let url = new window.domurl;
                    url.clearQuery();
                    window.history.replaceState({path: url.toString()}, '', url.toString());
                    resolve();
                });
            },
            setTab() {
                this.$store.dispatch('application/clearFilters');

                let url = new window.domurl;

                url.clearQuery();

                url.query.tab = this.activeTab;

                window.history.replaceState({path: url.toString()}, '', url.toString());
            },

            sendPasswordResetEmail() {
                this.waiting = true;
                window.axios.post('/users/passwordChange', {email: this.user.email}).then(response => {
                    this.$toasted.show("Password reset email sent", {
                        theme: "default",
                        position: "top-center",
                        duration: 1500
                    });
                    this.waiting = false;
                });
            },

            updateItem(user) {
                this.user = user;
            },

            updateWaiting(value) {
                this.waiting = value;
            }
        },
    }
</script>
