<template>
    <v-node-table
        :single-item-name="'user'"
        :plural-item-name="'users'"
        :headers="headers"
        :filterButton="hasPermission"
        :createButton="hasPermission"
        @create="handleCreate"
        @cancelCreate="resetCreateForm"
    >
        <template slot="row" slot-scope="props">
            <tr class="pointer text-center">
                <td @click="editItem(props.item)">
                    <v-thumbnail
                        :thumbnail="props.item.thumbnail"
                        width="30"
                        height="30"
                    ></v-thumbnail>
                </td>
                <td @click="editItem(props.item)">
                    {{ props.item.first_name }}
                </td>
                <td @click="editItem(props.item)">
                    {{ props.item.last_name }}
                </td>
                <td @click="editItem(props.item)">
                    {{ props.item.email }}
                </td>
                <td @click="editItem(props.item)">
                    <v-chip v-for="(chip, index) in props.item.roles" :key="index">
                        {{ chip.name }}
                    </v-chip>
                </td>
                <td @click="editItem(props.item)">
                    Created at: {{ props.item.created_at|date }} <br>
                    {{ props.item.created_at|fromNow }}
                </td>
                <td>
                    <v-tooltip
                        bottom
                        v-if="canImpersonateUser(props.item)"
                    >
                        <template v-slot:activator="{ on }">
                            <v-btn text icon small v-on="on" color="primary"
                                   class="ma-0"
                                   @click="impersonate(props.item)"
                            >
                                <v-icon>$mdiAccountSwitch</v-icon>
                            </v-btn>
                        </template>
                        <span>Impersonate</span>
                    </v-tooltip>
                </td>
            </tr>
        </template>
        <template slot="additional-buttons">
            <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                    <v-btn
                        icon dark v-on="on"
                       @click="viewDeleted"
                    >
                        <v-icon>$mdiDelete</v-icon>
                    </v-btn>
                </template>
                <span>View deleted users</span>
            </v-tooltip>
        </template>
        <v-create
            title="Create new user"
            :dialog.sync="createDialog"
            :waiting.sync="createWaiting"
            :disabledActions.sync="checkingEmail"
            :formErrors.sync="errors"
            @cancel="cancelCreate"
            @confirm="doCreate"
        >
            <template slot="content">
                <v-text-field
                    id="focus"
                    v-model="newItem.first_name"
                    :rules="[ v => !!v || 'First name is required' ]"
                    label="First name"
                    :autocomplete="'new-password'"
                    required
                    :disabled="checking"
                ></v-text-field>
                <v-text-field
                    v-model="newItem.last_name"
                    label="Last name"
                    :autocomplete="'new-password'"
                    :disabled="checking"
                ></v-text-field>
                <v-text-field
                    v-model="newItem.email"
                    :rules="[
                            v => !!v || 'Email is required',
                            $root.rules.email
                        ]"
                    :error-messages="emailErrors"
                    label="Email"
                    type="email"
                    required
                    :autocomplete="'new-password'"
                    :loading="checkingEmail"
                    :disabled="checking"
                >
                    <template v-slot:progress v-if="checkingEmail">
                        <v-progress-linear
                            :indeterminate="true"
                            color="primary"
                            height="2"
                        ></v-progress-linear>
                    </template>
                </v-text-field>
                <v-text-field
                    v-model="newItem.password"
                    :rules="[ v => !!v || 'Password is required']"
                    label="Password"
                    :autocomplete="'new-password'"
                    type="password"
                    required
                    :disabled="checking"
                ></v-text-field>
            </template>
        </v-create>
    </v-node-table>
</template>
<script>
    export default {
        data() {
            return {
                roles: [],

                newItem: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    password: '',
                    details: [],
                },
                timeout: null,

                emailErrors: [],
                checkingEmail: false,

                createDialog: false,
                createWaiting: false,
            }
        },
        name: 'Users-Index',
        mounted() {
            this.$store.dispatch('resources/getResource', 'roles').then(response => {
                this.roles = response;
                this.$store.dispatch('application/addToFilters', {type: 'roles', data: response});
            });
        },
        watch: {
            'newItem.email'() {
                if (this.emailErrors.length) {
                    this.emailErrors = [];
                }
            },
        },
        computed: {
            loggedInUser() {
                return this.$store.getters['auth/getUser'];
            },
            hasPermission() {
                return this.hasMinRole('admin');
            },
            checking() {
                return this.checkingEmail;
            },
            errors() {
                if (this.emailErrors.length) {
                    return this.emailErrors;
                }

                return [];
            },
            alreadyImpersonating() {
                return typeof this.loggedInUser.impersonator !== 'undefined' && this.loggedInUser.impersonator !== null;
            },
            headers() {
                return [
                    {text: '', value: '', sortable: false, align: 'center'},
                    {text: 'First name', value: 'first_name', align: 'center'},
                    {text: 'Last name', value: 'last_name', align: 'center'},
                    {text: 'Email', value: 'email', align: 'center'},
                    {text: 'Roles', value: 'roles', sortable: false, align: 'center'},
                    {text: 'Details', value: 'created_at', align: 'center'},
                    {text: 'Actions', value: 'action', align: 'center', sortable: false}
                ];
            }
        },
        methods: {
            editItem(item) {
                this.$router.push('/users/edit/' + item.id);
            },
            resetCreateForm() {
                this.emailErrors = [];
                this.newItem = {
                    first_name: '',
                    last_name: '',
                    email: '',
                    password: '',
                    details: [],
                };
            },
            checkParameters() {
                return new Promise((resolve, reject) => {
                    this.checkingEmail = true;
                    window.axios.post('/users/exists', {
                        email: this.newItem.email,
                    }).then(response => {
                        if (response.data === 'Email') {
                            this.emailErrors = ['User with email "' + this.newItem.email + '" already exists'];
                        } else {
                            this.emailErrors = [];
                        }
                        this.checkingEmail = false;
                        resolve(response);
                    });
                });
            },
            handleCreate() {
                this.createDialog = true;
                setTimeout(() => document.querySelector('#focus').focus(), 50);
            },
            cancelCreate() {
                this.createDialog = false;
                this.createWaiting = false;
                this.resetCreateForm();
            },
            doCreate() {
                this.checkParameters().then(response => {
                    if (this.emailErrors.length) {
                        return false;
                    }
                    this.createWaiting = true;
                    window.axios.post('/users/create', {user: this.newItem}).then(response => {
                        this.$toasted.show("User created", {
                            theme: "default",
                            position: "top-center",
                            duration: 1500
                        });
                        this.editItem(response.data);
                        this.cancelCreate();
                    });
                });
            },

            impersonate(user) {
                window.location = '/impersonate/' + user.id;
            },

            viewStats(user) {
                this.$router.push('/users/edit/' + user.id + '?tab=stats');
            },

            viewDeleted() {
                this.$router.push('/users/deleted');
            },

            canImpersonateUser(user) {
                let canImpersonate = false;

                if (this.hasRole('super-admin')) {
                    canImpersonate = true;
                }

                if (this.alreadyImpersonating) {
                    canImpersonate = false;
                }

                if (user.id == this.loggedInUser.id) {
                    canImpersonate = false;
                }

                return canImpersonate;
            }

        },
    }
</script>
